<template>
  <div>
    <h3>Time : {{time}} </h3>
        <h3>User # : {{username}} </h3>

    <p v-if="isConnected">We're connected to the server!</p>
    <p>Message from server: "{{socketMessage}}"</p>
    <button style="background: white" @click="pingServer()">Ping Server</button>
        <button style="background: white" @click="startGame()">Start Game</button>
                <button style="background: white" @click="outcomeUpdate()">Outcome Update</button>

        <button style="background: white" @click="getScore()">Get Score</button>

        <button style="background: white" @click="removeUser()">Remove User</button>

  </div>
</template>

<script>
import Timer from 'easytimer.js';
const timer = new Timer();
import gameEngine from '../GameEngine/GameEngine'

export default {
  data() {
    return {
      isConnected: false,
      socketMessage: '',
      time: '',
      outcome: '',
      outcomeWords: ['super', 'all when it', 'comes', 'infarcation', 'continues down this', 'path', 'sweet victory', 'I', 'know who you are'],
      username: "",
    }
  },

  mounted() {
    console.log(gameEngine.userData)
    timer.addEventListener('secondsUpdated', (e) => {
      this.time = timer.getTimeValues().toString()
      gameEngine.userData.timeString = this.time;
      gameEngine.userData.time = this.time
      console.log(this.time)
      this.$socket.emit('timeUpdate', {
        time: timer.getTimeValues().toString(),
        userData: gameEngine.userData
      })
    });

    timer.addEventListener('targetAchieved',  (e) => {
      // this.$socket.emit('disactivate')
      setTimeout(()=>{
      this.showScore();

      },1000)
    });
  },

  sockets: {
    connect() {
      // Fired when the socket connects.
      this.isConnected = true;


    },

    userJoined(data) {
        this.username = data.username;
    },

    disconnect() {
      this.isConnected = false;
    },

    // Fired when the server sends something on the "messageChannel" channel.
    time(data) {
      this.socketMessage = Date(data)
    }
  },

  methods: {
    pingServer() {
      // Send the "pingServer" event to the server.
      this.$socket.emit('pingServer', 'PING!')
      // timer.start({countdown: true, startValues: {seconds: 6}});


    },

        outcomeUpdate() {
                let outcome = this.outcome + " " + this.outcomeWords[Math.floor(Math.random()*this.outcomeWords.length)]
                // alert(outcome)
                this.outcome = outcome;
                gameEngine.userData.outcome = outcome;
                this.$socket.emit('outcomeUpdate', outcome);
   
    },
    startGame() {
      this.$socket.emit('startGame', gameEngine.userData)
      timer.start({
        countdown: true,
        startValues: {
          seconds: 60
        }
      });
    },
    getScore() {
      gameEngine.userData.showScore = true;
      this.$socket.emit('getScore', gameEngine.userData)
      timer.stop();
    },
    removeUser() {
      gameEngine.reset();
      this.$socket.emit('removeUser', gameEngine.userData)
    }
  }
}
</script>