<template>
  <div class="btn-co">

  <button class="btn btn--hover-icon">
    <i class="material-icons">add</i>
    <span>Add words</span>
  </button>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>