<template>
  <div class="block-view-div">
    <div class="half alarm">
      <div class="bookmark-container c1">

        <template v-for="(word,index) in databaseStatement">
          <div v-bind:key="index" class="item">
            <div class="item-content">{{word}}</div>
          </div>
        </template>
  





      </div>
    </div>



    <div class="half">
      <div class="bookmark-container c2">
        <template v-for="(word,index) in extraWords">
          <div v-if="index > 0" v-bind:key="databaseStatement.length + index" class="item" v-bind:id="'custom-item-'+index">
         
              <input v-bind:id="'custom-block-'+index" type="text" class="item-content"
                v-autowidth="{maxWidth: '200px', minWidth: '120px', comfortZone: 0}" v-model="extraWords[index]"
                placeholder="edit me" />
           
          </div>
        </template>
      </div>
      <div class="add-btn-div">
             <transition name="fade">

        <button class="add-btn" v-if="showNewBlockButton" @click="addNewBlock" >
          <md-icon>add</md-icon>

          <span>Add words</span>
        </button>
              </transition>
      </div>


    <div class="done-btn">
     <md-button class="md-raised md-accent submit-words-btn" :disabled="!playButton" @click="moveToStage3">Done!
        </md-button>
    </div>
    </div>


    <div class="toolbar alarm">
      <!-- <button class="toolbar-btn" v-if="wordCount<3" style="font-size: 30px; color: white;" v-bind:class="{ rotate90: showBlockInput }"  @click="newBlockInput">&#65291;</button> -->
      <button class="toolbar-btn" style="font-size: 50px; color: white; width: 100%" @click="emitNewBlocks">
        &#x21bb;</button>

    </div>



  </div>

</template>

<script>
import uuidv4 from 'uuid/v4'
import RiTa from 'rita'
import anime from 'animejs'
import wb from 'web-animations-js'
import Muuri from 'muuri'
export default {

  data() {
    return {
      id: '0',
      blank: '',
      blankText: ['', '', ''],
      gridObjects: [],
      showBlockInput: false,
      wordCount: 0,
      showWatermark: true,
      showNewBlockButton: false,
      extraWords: [''],
      extraWordStore: ['', '', '', ''],
      extraWordsWordStops: [false, false, false, false],
      outcome: '',
      hideBottomBar: false,
      animation: null,
      hasShownAddBtn: false,

      hasLaidOut: [true, false, false, false]
    }
  },

  watch: {
    extraWords(val) {
      console.log(val)

      for (let i = 0; i < val.length; i++) {
        let wordLength = RiTa.tokenize(val[i]).length
        if (wordLength > 2) {
          this.extraWordsWordStops[i] = false
          this.extraWords[i] = this.extraWordStore[i]
        } else {
          this.extraWordsWordStops[i] = true
          this.extraWordStore[i] = val[i]

        }

        if(this.extraWordStore[i] != this.extraWords[i]) {
        }
      }
      // this.refreshDraggable()

    }
  },

  created() {
    console.log(uuidv4())
  },

  props: ['databaseStatement', 'playButton'],
  mounted() {





    this.gridObjects = this.initDraggable();
  },
  methods: {

    newBlockSubmitted() {
   this.updateLayout();
                  this.hideBottomBar = false;      
    },

    moveToStage3() {
           this.gridObjects.forEach((gridObj,index)=>{
        // Destroy the instance and remove item elements.
        gridObj.refreshItems();
        gridObj.layout();
                gridObj.synchronize();

      })
      this.$emit('move')
    },

    addCustomBlock(elem, remove) {
      // this.gridObjects.forEach((gridObj,index)=>{
      //   // Destroy the instance and remove item elements.
      //   // gridObj.destroy();
      //   gridObj.refreshItems();
      //   gridObj.layout();
      // })
      // this.gridObjects[1].remove(elem)

      this.gridObjects[1].add(elem)
      this.gridObjects.forEach((gridObj,index)=>{
        // Destroy the instance and remove item elements.
        // gridObj.destroy();
        gridObj.refreshItems();
        gridObj.layout();
      })

  
   

      // this.initDraggable();
    },

    updateLayout() {
        this.gridObjects[1].refreshItems();
              this.gridObjects.forEach((gridObj,index)=>{
        // Destroy the instance and remove item elements.
        // gridObj.destroy();
        gridObj.refreshItems();
        // gridObj.layout();
        // gridObj.synchronize();
      })
    },

    // newBlockInput() {
    //   this.showBlockInput = !this.showBlockInput

    //   if (this.showBlockInput) {
    //     setTimeout(() => {
    //       document.getElementById('new-word-input').focus();
    //       document.getElementById('new-word-input').select();
    //     }, 500)

    //   } else {
    //     document.getElementById('new-word-input').blur();

    //   }

    // },
    emitNewBlocks() {
      this.$emit('new-blocks');
      console.log("new blocks from child")
    },
    addNewBlock() {
      console.log("add new block")

      if (this.extraWords.length > 0 && this.extraWords.length < 4) {
        this.extraWords.push(this.blank);
        this.blank = ""
        this.wordCount += 1
        // this.initDraggable()
        // this.refreshDraggable(document.getElementById('custom-item-'+this.wordCount)) 
            document.querySelector('.add-btn').classList.add('add-btn-hide')

        setTimeout(() => {
            document.getElementById('custom-block-'+this.wordCount).focus();
            document.getElementById('custom-block-'+this.wordCount).select();
            this.addCustomBlock(document.getElementById('custom-item-'+this.wordCount), false) 
            document.getElementById('custom-block-'+this.wordCount).addEventListener('focus', (event) => {
                        // this.initDraggable();  

                        this.hideBottomBar = true;
                        
                        // this.addCustomBlock(document.getElementById('custom-item-'+this.wordCount), false) 
            });
            document.getElementById('custom-block-'+this.wordCount).addEventListener('focusout', (event) => {
                  // this.initDraggable();  
                  this.updateLayout();
                  this.hideBottomBar = false;

                  // this.addCustomBlock(document.getElementById('custom-item-'+this.wordCount), false) 
            });
          }, 200)
        if (this.extraWords.length === 4) {
          this.showNewBlockButton = false;
        }

      }



    },

    processOutcome() {
      let c2Words = document.querySelector('.c2').children;
      // console.log(c2Words);
      this.updateLayout();
      let product = ""
      for (let i = 0; i < c2Words.length; i++) {
        // console.log(c2Words[i].firstElementChild.firstElementChild)
        if (c2Words[i].firstElementChild) {
          if (c2Words[i].firstElementChild.value) {
            product += " " + c2Words[i].firstElementChild.value

          } else {
            product += " " + c2Words[i].firstElementChild.textContent

          }
        }
      }
      // gameEngine.userData.outcome = product
      console.log(product)
      return product;
    },

    reLayout() {


    },
    initDraggable() {
        var gridObjects = [];

      setTimeout(() => {
        var bookmarkContainers = document.querySelectorAll('.bookmark-container');
        var phPool = [];
        var phElem = document.createElement('div');
        phElem.setAttribute("class", "item-placeholder" );

        for (var i = 0; i < bookmarkContainers.length; i++) {
          gridObjects[i] = new Muuri(bookmarkContainers[i], {
            dragEnabled: true,
            dragPlaceholder: {
              enabled: true,
              duration: 400,
              easing: 'ease-out',
              createElement(item) {
                return phPool.pop() || item.getElement().cloneNode(true)
;
              },
              onCreate(item, element) {
                // If you want to do something after the
                // placeholder is fully created, here's
                // the place to do it.

                if(element.childNodes[0]) {
                element.removeChild(element.childNodes[0]);

                }
                element.setAttribute("class", "item-placeholder" );
                // console.log(element.children)
              },
              onRemove (item, element) {
                phPool.push(element);
              }
            },

            dragSort: function () {
              return gridObjects;
            }
          });

          gridObjects[i].on('dragStart', (item, event) => {
            this.showWatermark = false;
            // document.querySelector('.watermark').setAttribute('style')


          })

          gridObjects[i].on('dragEnd', (item, event) => {
            document.querySelector('.toolbar').classList.add('invisible')
            document.querySelector('.toolbar').classList.remove('rotatedArrow')
            this.showNewBlockButton = true;


            if(!this.hasShownAddBtn) {
            setTimeout(()=>{
            document.querySelector('.add-btn').classList.remove('add-btn-hide')

            },1000)
            this.hasShownAddBtn = true;
            }


       


            let outcome = this.processOutcome()

            // //if its changed in the meantime
            // if(this.outcome != outcome) {
            //     this.$emit('outcomeUpdate', outcome);
            //     this.outcome = outcome;
            // }



          })


          gridObjects[i].on('dragMove', (item, event) => {
            document.querySelector('.toolbar').classList.remove('invisible')

            if (event.deltaY > 0) {
              document.querySelector('.toolbar').classList.add('rotatedArrow')

            } else {
              document.querySelector('.toolbar').classList.remove('rotatedArrow')

            }
          })
        }
      }, 100)

      return gridObjects
    }
  },

  destroyed() {



  }


}
</script>

<style scoped>
.done-btn {
      position: absolute;
    bottom: 20px;
    right: 16.5%;
}

.bookmark-container {
  width: 90%;
  margin-left: 5%;
  /* padding: 5vw; */
  height: 100vh;
  position: relative;
  margin-top: 12vh;
  max-width: 50vw;
  /* overflow: hidden; */
}
input {
  font-size: 20px;
      /* height: 100%; */
      height: 20px;
      outline:none;
      /* line-height: 20px; */
      background: transparent;
      border: 0px;
      font-family: 'lackregular', sans-serif;
      color: white;
      text-align: left;
      /* width: 100% !important; */
}
 
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}



.block-view-div {
  display: flex;
  flex-direction: row;
  height: 100vh;
    /* padding-left: 2vw; */
    /* padding-right: 2vw; */

    background: linear-gradient(to left, #FFF 0%, #FFF 50%, #1b1b1b 50%, #1b1b1b 100%);
}

.watermark {
      /* height: 50px; */
    /* background: red; */
    font-size: calc(1.2rem + 1vw);
    text-align: left;
    padding: 2vw;
    color: lightgray;
    /* transition: all 2 */
}

.half {
  width: 50%;
  left: 0px;
}

.add-btn-div {
  position: relative;
  display: block;
  /* background: pink; */
  top:20px;
}



.toolbar {
  z-index: 1231;
  background:#1B1B1B;
  position: fixed;
  width: 50vw;
  align-items: center;
  bottom: 30px;
  left: 0px;
  /* background: green; */

  display: flex;
  flex-direction: row;
}

.toolbar2 {
    z-index: 1231;

  background:#1B1B1B;
  display: flex;
  flex-direction: row-reverse;
}

.item {
  position: absolute;
  min-height: 40px;

  display: inline-block;
  /* line-height: 40px; */
  margin-left: 10px;
  z-index: 1;
  min-width: 20px;
}

#new-input {
  background: rgb(234, 231, 209);
  display: flex;
  flex-direction: row;
  height: 30px;
  transition: all 1s;
}

.blank {
    background: white !important;
    color: grey !important;
    max-height: 3rem;
}

.c1 {
    min-height: 150px;
    background:transparent;
      /* opacity: 0; */
}

.inactive {
  background: transparent !important;
  color: transparent !important;
}

.rotate90 {
  transform: rotate(45deg);
}

.item-placeholder {
  border: 1.5px dashed #c1c1c1;
  color: transparent;
  background: white;
}


.c2 {
   /* margin-top: 30px; */
  /* min-height: 200px; */
  min-height: 50%;

  background: transparent;
}

.c1 > .item > .item-content {
  background-color: white;
  color: black;
    transition: border-radius 1s, background-color 1s;

}

.c2 > .item > .item-content {
  background-color: black;
  color: white;
    transition: border-radius 1s, background-color 1s;

}



.item-content {
  position: relative;
  margin: 5px 0px;
    background-color: inherit;
  color: inherit;
  text-align: center;
  /* border-radius: 5px; */
  padding: calc(5px + 0.1vw);
  box-shadow: 0px 10px 20px 0px rgba(47, 47, 47, 0.03);
  font-size: 20px;
  font-family: 'lackregular', sans-serif;
  cursor: pointer;
  border-radius: 0px ;

  transition: border-radius 5s;

  /* border */
}



.item:nth-child(even) > .item-content {
  border-radius: 10px ; 

}

.item.muuri-dragging,
.item.muuri-releasing {
  z-index: 2;
}

.item.muuri-hidden {
  z-index: 0;
}

.asdf:after {
  /* top:50px; */
  /* margin-top: 40px; */
	left: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  transform-origin: bottom center;
	border-width: 20px;
  margin-left: -20px;
  transition: all 0.5s;

}

.rotatedArrow:after {
  /* top:50px; */
  /* margin-top: 40px; */
	left: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgb(35, 35, 35);
  transform-origin: bottom center;
	border-width: 20px;
  margin-left: -20px;
  transition: all 0.5s;
  transform: rotateX(180deg)
}

.invisible:after {
	left: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgb(35, 35, 35,0);
  transform-origin: bottom center;
	border-width: 20px;
  margin-left: -20px;

}

.c1 > .item-placeholder {
  background-color: transparent;
    border: 0px dashed #c1c1c1;

  color: transparent;
    transition: all 1s;

}
</style>