<template>
  <div class="block-view-div" style="overflow-x:hidden">

 
    <div class="bookmark-container c1 alarm">

      <template v-for="(word,index) in databaseStatement">
        <div v-bind:key="index" class="item">
          <div class="item-content">{{word}}</div>
        </div>
      </template>






    </div>
      <div class="toolbar alarm">
        <!-- <button class="toolbar-btn" v-if="wordCount<3" style="font-size: 30px; color: white;" v-bind:class="{ rotate90: showBlockInput }"  @click="newBlockInput">&#65291;</button> -->
        <button class="toolbar-btn" style="transform: rotate(225deg); font-size: 30px; color: #FC3B2A;" @click="emitNewBlocks"> &#x21bb;</button>
        <div class="divider"></div>
        <div class="triangle-up"></div>
      </div>
                  <transition name="slide">

         <div v-if="showWatermark" class="watermark">
      Drag words here
    </div>
                  </transition>
            <transition name="slide">
            <div id="new-input" v-if="showBlockInput">
              <div style="flex-basis:80%">
                        <input id="new-word-input" style="width: 100%; height: 100%; z-index: 12312; background: transparent;border: 0px;" v-model="blank" placeholder="edit me">

              </div>
            <div style=" color: black;flex-basis:20%">
                      <button class="toolbar-btn" style="margin-top: 0px; line-height: 0px; height: 30px;" @click="addNewBlock">	&#x2713;</button>

            </div>

      </div>
            </transition>
    <div class="bookmark-container c2" @click="hideBottomBar === false">
        <template v-for="(word,index) in extraWords">
        <div v-if="index > 0" v-bind:key="databaseStatement.length + index" class="item" v-bind:id="'custom-item-'+index">

               <input
                  v-bind:id="'custom-block-'+index"
                  class="item-content"
                  type="email"
                  v-autowidth="{maxWidth: '250px', minWidth: '70px', comfortZone: 0}"
                  v-model="extraWords[index]"
                  placeholder="edit me"
                  style="outline: none; height: inherit"
                  autocorrect="off" 
                  autocapitalize="none"
                  v-on:keyup.enter="newBlockSubmitted"
                />
 
        </div>
      </template>
    </div>
  <div class="bottom-button-bar" v-if="!hideBottomBar">
    <div class="add-btn-div">
              <transition name="fade">

        <button class="add-btn add-btn-hide" v-if="showNewBlockButton" v-bind:class="" @click="addNewBlock" >
          <md-icon>add</md-icon>

          <span style="">Add words</span>
        </button>
              </transition>
        <!-- <md-button v-if="showNewBlockButton" class="add-btn" @click="addNewBlock">+</md-button> -->
        <div class="divider">
        </div>

        <md-button class="md-raised md-accent submit-words-btn" :disabled="!playButton" @click="moveToStage3">Done!
        </md-button>

    </div>
  </div>

  </div>

</template>

<script>
import uuidv4 from 'uuid/v4'
import RiTa from 'rita'
import anime from 'animejs'
import wb from 'web-animations-js'
import Muuri from 'muuri'
export default {

  data() {
    return {
      id: '0',
      blank: '',
      blankText: ['', '', ''],
      gridObjects: [],
      showBlockInput: false,
      wordCount: 0,
      showWatermark: true,
      showNewBlockButton: false,
      extraWords: [''],
      extraWordStore: ['', '', '', ''],
      extraWordsWordStops: [false, false, false, false],
      outcome: '',
      hideBottomBar: false,
      animation: null,
      hasShownAddBtn: false,

      hasLaidOut: [true, false, false, false]
    }
  },

  watch: {
    extraWords(val) {
      console.log(val)

      for (let i = 0; i < val.length; i++) {
        let wordLength = RiTa.tokenize(val[i]).length
        if (wordLength > 2) {
          this.extraWordsWordStops[i] = false
          this.extraWords[i] = this.extraWordStore[i]
        } else {
          this.extraWordsWordStops[i] = true
          this.extraWordStore[i] = val[i]

        }

        if(this.extraWordStore[i] != this.extraWords[i]) {
                this.updateLayout();

        }
      }
      // this.refreshDraggable()

    }
  },

  created() {
    console.log(uuidv4())
  },

  props: ['databaseStatement', 'playButton'],
  mounted() {




    this.gridObjects = this.initDraggable();
  },
  methods: {

    newBlockSubmitted() {
   this.updateLayout();
                  this.hideBottomBar = false;      
    },

    moveToStage3() {
      this.gridObjects.forEach((gridObj,index)=>{
        // Destroy the instance and remove item elements.
        gridObj.refreshItems();
        gridObj.layout();
                gridObj.synchronize();

      })
      this.$emit('move')
    },

    addCustomBlock(elem, remove) {
      // this.gridObjects.forEach((gridObj,index)=>{
      //   // Destroy the instance and remove item elements.
      //   // gridObj.destroy();
      //   gridObj.refreshItems();
      //   gridObj.layout();
      // })
      // this.gridObjects[1].remove(elem)

      this.gridObjects[1].add(elem)
      this.gridObjects.forEach((gridObj,index)=>{
        // Destroy the instance and remove item elements.
        // gridObj.destroy();
        gridObj.refreshItems();
        gridObj.layout();
      })

  
   

      // this.initDraggable();
    },

    updateLayout() {
        this.gridObjects[1].refreshItems();
              this.gridObjects.forEach((gridObj,index)=>{
        // Destroy the instance and remove item elements.
        // gridObj.destroy();
        gridObj.refreshItems();
        gridObj.layout();
        // gridObj.synchronize();
      })
    },

    // newBlockInput() {
    //   this.showBlockInput = !this.showBlockInput

    //   if (this.showBlockInput) {
    //     setTimeout(() => {
    //       document.getElementById('new-word-input').focus();
    //       document.getElementById('new-word-input').select();
    //     }, 500)

    //   } else {
    //     document.getElementById('new-word-input').blur();

    //   }

    // },
    emitNewBlocks() {
      this.$emit('new-blocks');
      console.log("new blocks from child")
    },
    addNewBlock() {
      console.log("add new block")

      if (this.extraWords.length > 0 && this.extraWords.length < 4) {
        this.extraWords.push(this.blank);
        this.blank = ""
        this.wordCount += 1
        // this.initDraggable()
        // this.refreshDraggable(document.getElementById('custom-item-'+this.wordCount)) 
            document.querySelector('.add-btn').classList.add('add-btn-hide')

        setTimeout(() => {
            document.getElementById('custom-block-'+this.wordCount).focus();
            document.getElementById('custom-block-'+this.wordCount).select();
            this.hideBottomBar = true;
            window.scrollTo(0,document.body.scrollHeight);

            this.addCustomBlock(document.getElementById('custom-item-'+this.wordCount), false) 
            document.getElementById('custom-block-'+this.wordCount).addEventListener('focus', (event) => {
                        // this.initDraggable();  

                        this.hideBottomBar = true;
                        
                        // this.addCustomBlock(document.getElementById('custom-item-'+this.wordCount), false) 
            });
            document.getElementById('custom-block-'+this.wordCount).addEventListener('focusout', (event) => {
                  // this.initDraggable();  
                  this.updateLayout();
                  this.hideBottomBar = false;

                  // this.addCustomBlock(document.getElementById('custom-item-'+this.wordCount), false) 
            });
          }, 200)
        if (this.extraWords.length === 4) {
          this.showNewBlockButton = false;
        }

      }



    },

    processOutcome() {
      let c2Words = document.querySelector('.c2').children;
      // console.log(c2Words);
      this.updateLayout();
      let product = ""
      for (let i = 0; i < c2Words.length; i++) {
        // console.log(c2Words[i].firstElementChild.firstElementChild)
        if (c2Words[i].firstElementChild) {
          if (c2Words[i].firstElementChild.value) {
            product += " " + c2Words[i].firstElementChild.value

          } else {
            product += " " + c2Words[i].firstElementChild.textContent

          }
        }
      }
      // gameEngine.userData.outcome = product
      console.log(product)
      return product;
    },

    reLayout() {


    },
    initDraggable() {
        var gridObjects = [];

      setTimeout(() => {
        var bookmarkContainers = document.querySelectorAll('.bookmark-container');
        var phPool = [];
        var phElem = document.createElement('div');
        phElem.setAttribute("class", "item-placeholder" );

        for (var i = 0; i < bookmarkContainers.length; i++) {
          gridObjects[i] = new Muuri(bookmarkContainers[i], {
            dragEnabled: true,
            dragPlaceholder: {
              enabled: true,
              duration: 400,
              easing: 'ease-out',
              createElement(item) {
                return phPool.pop() || item.getElement().cloneNode(true)
;
              },
              onCreate(item, element) {
                // If you want to do something after the
                // placeholder is fully created, here's
                // the place to do it.

                if(element.childNodes[0]) {
                element.removeChild(element.childNodes[0]);

                }
                element.setAttribute("class", "item-placeholder" );
                // console.log(element.children)
              },
              onRemove (item, element) {
                phPool.push(element);
              }
            },

            dragSort: function () {
              return gridObjects;
            }
          });

          gridObjects[i].on('dragStart', (item, event) => {
            this.showWatermark = false;
            // document.querySelector('.watermark').setAttribute('style')


          })

          gridObjects[i].on('dragEnd', (item, event) => {
            document.querySelector('.triangle-up').classList.add('invisible')
            document.querySelector('.triangle-up').classList.remove('rotatedArrow')
            this.showNewBlockButton = true;


            if(!this.hasShownAddBtn) {
            setTimeout(()=>{
            document.querySelector('.add-btn').classList.remove('add-btn-hide')

            },1000)
            this.hasShownAddBtn = true;
            }


       


            let outcome = this.processOutcome()

            // //if its changed in the meantime
            // if(this.outcome != outcome) {
            //     this.$emit('outcomeUpdate', outcome);
            //     this.outcome = outcome;
            // }



          })


          gridObjects[i].on('dragMove', (item, event) => {
            document.querySelector('.triangle-up').classList.remove('invisible')

            if (event.deltaY > 0) {
              document.querySelector('.triangle-up').classList.add('rotatedArrow')

            } else {
              document.querySelector('.triangle-up').classList.remove('rotatedArrow')

            }
          })
        }
      }, 100)

      return gridObjects
    }
  },

  destroyed() {



  }

}
</script>

<style scoped>

input {
      line-height: inherit;
      height: inherit;
      background: transparent;
      border: 0px;
      font-family: 'lackregular', sans-serif;
      color: white;
      /* width: 100% !important; */
}

.bottom-button-bar {
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  left: 0px;
  width: 100%;
}
.bookmark-container {
  position: relative;
  width: 100%;
  /* padding:20px; */
  /* margin: 10px 10px; */
  /* top: 0px; */
    transition: height 0.5s ease-in-out;

}

.block-view-div {
  display: flex;
  flex-direction: column;
}

.watermark {
      /* height: 50px; */
    /* background: red; */
    font-size: calc(1.2rem + 1vw);
    text-align: left;
    padding: 2vw;
    color: lightgray;
    /* transition: all 2 */
}

.toolbar {
  z-index: 1231;
  background:#1B1B1B;
  display: flex;
  flex-direction: row;
  /* margin-top: -1px; */
      padding: 1.2vh .5vw;
  /* border: 2px solid #1B1B1B; */
}

.toolbar2 {
    z-index: 1231;

  background:#1B1B1B;
  display: flex;
  flex-direction: row-reverse;
}

.item {
  position: absolute;
  display: inline-block;
  /* line-height: 40px; */
  margin-left: 10px;
  z-index: 1;
  min-width: 20px;
}

#new-input {
  background: rgb(234, 231, 209);
  display: flex;
  flex-direction: row;
  height: 30px;
  transition: all 1s;
}

.blank {
    background: white !important;
    /* color: grey !important; */
    max-height: 3rem;
}

.c1 {
    min-height: 50px;
    background:#1B1B1B;
    /* border: 2px solid #1B1B1B; */
      /* opacity: 0; */
}

.inactive {
  background: rgba(101, 101, 101, 0.6) !important;
  color: rgb(35, 35, 35) !important;
  border-radius: 50% !important;
  width: 30px; 
  height: 30px;
  font-size: 30px !important;
  line-height: 15px;
  font-weight: 100 !important;
  font-family: sans-serif !important;
  left: 0px;
}

.rotate90 {
  transform: rotate(45deg);
}



.item-placeholder {
  border: 1.5px dashed #c1c1c1;
  color: transparent;
  background: white;
}


.c2 {
    margin-top: 30px;
  min-height: 40vh;
  /* height: 50vh; */
  max-width: 100vw;
  /* border: 1px solid blue; */

  /* background: red !important; */
}

@media screen and (max-width: 320px){
  .c2 {
    margin-top: 30px;
  min-height: 20vh;
  /* height: 50vh; */
  max-width: 100vw;
  /* border: 1px solid blue; */

  background: white;
}

.bottom-button-bar {
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.item-content {
  padding: 2px !important;
    font-size: calc(0.45rem + 1.5vw) !important;

}
}

.c1 > .item > .item-content {
  background-color: white;
  color: black;
    transition: border-radius 0.5s;

}

.c1 > .item-placeholder {
  background-color: transparent;
    border: 0px dashed #c1c1c1;

  color: transparent;
    transition: border-radius 0.5s;

}

.c2 > .item > .item-content {
  background-color: black;
  color: white;
    transition: border-radius 0.5s ;

}

.add-btn-div {
  display: flex;
    align-items: center;
    /* align-content: center; */
    flex-direction: row;
    text-align: center;
    /* background-color: white; */
    justify-content: center;
}





.item-content {
  position: relative;
  margin: 7px 0px;
  padding: 5px 0px;
    background-color: inherit;
  color: inherit;
  text-align: center;
  /* border-radius: 5px; */
  padding: calc(5px + 0.1vw);
  box-shadow: 0px 10px 20px 0px rgba(47, 47, 47, 0.03);
  font-size: inherit;
  font-family: 'lackregular', sans-serif;
  cursor: pointer;
  border-radius: 0px ;

  /* transition: border-radius 5s; */

  /* border */
}



.item:nth-child(even) > .item-content {
  border-radius: 10px ; 

}

.item.muuri-dragging,
.item.muuri-releasing {
  z-index: 2;
}

.item.muuri-hidden {
  z-index: 0;
}
    .triangle-up {
    width: 0;
    height: inherit;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
    position: relative;
    /* top: 100%; */
    margin-bottom: -1.2vh;
    transition: all .2s;
    transform-origin: bottom center;
    opacity: 1;
    }

    .rotatedArrow {
      transform: rotateX(-180deg);
          border-bottom: 20px solid #1b1b1b;

    }

    .invisible {
      opacity: 0;
    }

/*
.rotatedArrow:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: red;
	border-bottom: 0;
	margin-left: 20px;
  transition: all 0.5s;
  transform-origin: top center;

}

.toolbar:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	margin-left: 20px;
  transform-origin: top center;

  transition: all 0.5s;
  transform: rotateX(180deg)
}

.invisible:after {

	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: transparent;
	border-bottom: 0;
	margin-left: 20px;
  transform-origin: bottom center;

}
*/

.divider {
  width: 10vw;
}
</style>