<template>
  <div class="container game">
    <div class="bg-black" v-if="stage===1">

        <div class="box half bg-red">
          <div class="content center central-text left-align">
            <li class="white margin-bottom">Drag down <span class="block">word blocks</span> and add new ones to form a sentence that answers your challenge.
            </li>

            <li class="white">You have one minute!</li>
          </div>

        </div>
        <div class="box half">
          <div class="content center central-text left-align">
            <h3 class="white"><b class="red" style="font-size: inherit">Your challenge:</b> {{missionStatement}}. </h3>
          </div>

        </div>

        <div v-if="apiSending" class="loading " style="padding: 0px 10vw 30px 10vw">
          <h5 style="margin-bottom: 1em"> Thinking ... </h5>
        <md-progress-bar class="md-accent" v-if="true" md-mode="indeterminate"></md-progress-bar>
      </div>


        <div class="box " v-if="!showingHelp">
          <div class="content">
            <button class="back white fill" @click="moveBackToMissionCreation">
              Change Challenge
            </button>
            <button class="fill white bg-red" :disabled=apiSending v-if="!apiSending" @click="moveToStage2">
              <template>
                Start!
              </template>

            </button>
          </div>
        </div>
        <div class="box" v-if="showingHelp">
                    <div class="content">

          <button class="back white fill" @click="moveBackToMissionCreation">
            Change Challenge
          </button>
          <button class="fill white bg-red" @click="moveToStage2">
            <p>Keep Playing</p>
          </button>
        </div>
        </div>
        </div>






    <!-- STAGE 2 -->
    <div class="stage" id="stage-2" v-if="stage===2 && isPortrait">
      <div id="toolbar" class="alarm">
        <div class="timer" style="padding-left: 15px;" v-bind:class="{ red: time==='0:00' }">{{time}}</div>

        <div class="divider"></div>
        <md-button v-if="stage===2" class=" md-accent small-btn" @click="showChallenge">The Challenge <img
            src="static/arrow-up.svg" alt="triangle with all three sides equal" height="20px" width="20px" />
        </md-button>

      </div>
      <div v-for="(statement,index) in databaseStatements">


        <block-view-component v-on:outcomeUpdate="outcomeUpdate" v-on:new-blocks="getNewBlocks" v-on:move="moveToStage3" v-bind:key="index" v-if="index === selectedIndex"
          :databaseStatement=statement :playButton=showPlayButton>
        </block-view-component>

      </div>



    </div>


    <!-- STAGE 2 LANDSCAPE -->
        <div class="stage" id="stage-2" v-if="stage===2 && !isPortrait">
          <div id="toolbar-landscape" style="background: transparent;position: absolute; height: 50px">
            <div class="timer" style="padding-left: 3vw;  font-size: 30px;">{{time}}</div>

            <div class="divider"></div>
            <md-button v-if="stage===2" class=" md-accent small-btn black" @click="showChallenge">The Challenge <img
                src="static/arrow-up.svg" alt="triangle with all three sides equal" height="30px" width="30px" />
            </md-button>
            <!-- <md-button class="md-raised md-accent new-blocks-btn" @click="getNewBlocks">New blocks</md-button> -->

          </div>
          <div v-for="(statement,index) in databaseStatements">


            <block-view-component-landscape v-on:outcomeUpdate="outcomeUpdate" v-on:new-blocks="getNewBlocks" v-on:move="moveToStage3" v-bind:key="index"
              v-if="index === selectedIndex" :databaseStatement=statement :playButton=showPlayButton>
            </block-view-component-landscape>

          </div>



        </div>


    <!--  -->

    <div class="stage red-bg submit-screen" v-if="stage===3">


      <div v-if="!checkIfSure" id="timestring" style="">
        {{userData.timeString}}
      </div>
      <div v-if="!checkIfSure" id="outcome">
        <h5>"{{userData.outcome}}"</h5>

      </div>

      <div v-if="!checkIfSure" id="confirmation" style="background: inherit">


        <h3>Are you sure you want to submit this {{userData.challenge.material}}?</h3>

      </div>

          <div v-if="checkIfSure" id="confirmation">
        <h3>Are you sure you want to toss it and try again?</h3>

      </div>

      <div  class="buttons">
        <button v-if="!checkIfSure" class="back fill" @click="checkIfSure = true">Try Another</button>
        <button v-if="!checkIfSure" class="bg-black fill white" @click="moveToScore">Submit</button>
        <button v-if="checkIfSure" class="back fill" @click="checkIfSure = false">Go Back</button>
        <button v-if="checkIfSure" class="bg-black white fill" @click="moveBackToMissionCreation">Yes</button>
      </div>
    </div>
  </div>
</template>

<script>
import gameEngine from '../GameEngine/GameEngine'
import wb from 'web-animations-js'
import BlockViewComponent from './BlockViewComponent'
import BlockViewComponentLandscape from './BlockViewComponentLandscape'

import Muuri from 'muuri'
import anime from 'animejs/lib/anime.es.js';
import {arrayUnion} from 'vuex-easy-firestore'
import axios from 'axios'
import RiTa from 'rita'
import Timer from 'easytimer.js';
import { VueperSlides, VueperSlide } from 'vueperslides'


const shuffleArray = arr => arr
  .map(a => [Math.random(), a])
  .sort((a, b) => a[0] - b[0])
  .map(a => a[1]);


export default {

  watch: {
    stage() {
    
    }
  },

  components: {
    'block-view-component': BlockViewComponent,
        'block-view-component-landscape': BlockViewComponentLandscape,

    VueperSlides, VueperSlide 
  },

  data() {
    return {
        apiSending: false,
      stage: 1,
      // instructions: 
      showingHelp: false,
      stage1: true,
      blanks: [0, 1, 2],
      missionStatement: "",
      animation: null,
      mockStatements: [
        ['It', 'is to be hoped that the', 'commission', 'takes a rigourous', 'line', 'in examining such', 'applications', 'for delay'],
        ['The monumental chance', ' that', ' we may change the', 'world\'s economy', ' through force alone'],
        ['It', 'is to be hoped that the', 'commission', 'takes a rigourous', 'line', 'in examining such', 'applications', 'for delay'],
        ['The monumental chance', ' that', ' we may change the', 'world\'s economy', ' through force alone'],
        ['It', 'is to be hoped that the', 'commission', 'takes a rigourous', 'line', 'in examining such', 'applications', 'for delay'],

      ],
      outcome: '',

    //   realStatements

      databaseStatements: [],
      isPortrait: true,

      selectedIndex: 0,

      showPlayButton: false,

      timer: null,
      time: '1:00',

      blankText: ['blank', 'blank', 'blank'],

      userData: {},

      checkIfSure: false
    }
  },

  mounted() {

    window.scrollTo(0,0)
    // var isiPad = navigator.userAgent.match(/iPad/i) != null;

    // if(isiPad) {
    //   console.log("landscape")
    // } else {
    //   console.log("portrait")

    // }
    // if (window.matchMedia("(orientation: portrait)").matches ) {
    //   // you're in PORTRAIT mode
    //               this.isPortrait = true

    // }

    // if (window.matchMedia("(orientation: landscape)").matches || isiPad) {
    //   // you're in LANDSCAPE mode
    //         this.isPortrait = false

    // }

          this.animation = anime({
        targets: ".alarm",
        // translateX: 250,
        // color: "#fff",
        backgroundColor: ["#1b1b1b", "#fc3b2a"],
        loop: true,
        autoplay: true,
        direction: 'alternate',
        easing: 'easeInOutQuad'
      });


    if (gameEngine.userData.missionStatement) this.missionStatement = gameEngine.userData.missionStatement

    if(this.missionStatement.charAt(this.missionStatement.length-1) === " ") {
      this.missionStatement = this.missionStatement.slice(0, this.missionStatement.length-1)
    }

    if(this.missionStatement === "") {
      this.$router.push({path:'/mission'})
    }
    // this.missionStatement.charAt(0).toLowerCase();
    this.timer = new Timer();
    this.timer.addEventListener('secondsUpdated', (e) => {
      this.time = this.timer.getTimeValues().toString().slice(3)

      console.log(this.timer.getTimeValues().seconds)
      if (this.timer.getTimeValues().seconds === 10) {
        this.animation = anime({
          targets: ".alarm",
          // translateX: 250,
          // color: "#fff",
          backgroundColor: ["#1b1b1b", "#fc3b2a"],
          loop: true,
          autoplay: true,
          direction: 'alternate',
          easing: 'easeInOutQuad'
        });

        setTimeout(()=>{
          this.animation.pause();
        },10000)
        console.log("red")
      } else {


      }

      // // Update game data for outcome
      // let outcome = this.processOutcome()

      // // //if its changed in the meantime
      // // if(this.outcome != outcome) {
      //     this.$emit('outcomeUpdate', outcome);
      //     this.outcome = outcome;
      // // }
        let outcome = this.processOutcome();
     //if its changed in the meantime
            if(this.outcome != outcome) {
                this.$socket.emit('outcomeUpdate', outcome);
                this.outcome = outcome;
            }

      this.$socket.emit('timeUpdate', {
        time: this.timer.getTimeValues().toString(),
        userData: gameEngine.userData,
      })
      this.timer.addEventListener('targetAchieved',  (e) => {
        // this.$socket.emit('stopTimer')
        this.moveToStage3();

        this.time = '0:00'
      });
    });

    //send for data
    this.sendForData(gameEngine.emotion, gameEngine.userData.completion);
    this.databaseStatement = this.mockStatements[0]
    setInterval(()=>{

        if(document.querySelector('.c2')) {
       this.showPlayButton =  document.querySelector('.c2').children.length>2

        }
    },1000)
  },
  methods: {

async sendForData(emotion, completion) {

    if(!emotion) {
        emotion = 'the world'
    }

    console.log("Sending for data with", emotion + " " + completion)
         this.apiSending = true;
        try {

        const response = await axios.get('https://dataservice-dot-disjointed-machine.appspot.com/?sentence=' + `${emotion} ${completion}`);
        this.apiSending = false;


        let data = response.data.text;
        shuffleArray(data)

        // console.log(data)

        this.processSentences(data.slice(0,5))
  
   

          



        } catch (error) {
          console.error(error);


        }
    },


    processSentences(sentences) {
        sentences.forEach((el) => {
            let output = []
            let tags = RiTa.getPosTags(el, false);
            let tokens = RiTa.tokenize(el);
            let temp = ''
            tags.forEach((tag, index)=>{
                // console.log(tag, tokens[index])
                if(tag.includes('nn') || tag.includes('prp')) {
                      console.log(tag)
                     if(temp.length>2 && temp.length<30){
                        output.push(temp)
                    } else if(temp.length>=30) {
                      // split string
                        let tokens = RiTa.tokenize(temp);
                        let half = Math.floor(tokens.length/2);
                        let halfTokens = tokens.splice(0,half);
                        // let otherTokens = tokens.slice(half+1,tokens.length);
                        let halfString = RiTa.untokenize(halfTokens)
                        let otherHalf = RiTa.untokenize(tokens)
                        console.log(`${halfString} , ${otherHalf} `)
                        if(halfString.length>0){
                          output.push(halfString);

                        }
                        if(otherHalf.length>0) {
                          output.push(otherHalf);

                        }
                    }

                    
                    // output.push(tokens[index])
                                        output.push(tokens[index])

                    temp = ''
                } else {


                 
                    temp += ' ' + tokens[index]

                    

                }
            })
  
            if(temp.length > 1 && temp.length < 20) {
              output.push(temp);
            } else if (temp.length>1 && temp.length >= 20){
               let tokens = RiTa.tokenize(temp);

              let halfwayThrough = Math.floor(tokens.length / 2)

              let arrayFirstHalf = tokens.slice(0, halfwayThrough);
              let arraySecondHalf = tokens.slice(halfwayThrough, tokens.length);
              output.push(RiTa.untokenize(arrayFirstHalf))
              output.push(RiTa.untokenize(arraySecondHalf))

    
            }


            if( output.length > 10 ) {
              output = output.splice(0,10)
            }
            this.databaseStatements.push(output)

        })

        console.log(this.databaseStatements)

        
    },

    outcomeUpdate(data) {
      console.log(data)
      gameEngine.userData.outcome = data
      this.$socket.emit('outcomeUpdate', gameEngine.userData.outcome)
    },

    processOutcome() {

        let c2Words = document.querySelector('.c2').children;
        let product = ""
        for(let i=0; i<c2Words.length; i++) {

            if(c2Words[i].firstElementChild.value) {
                           product += " " + c2Words[i].firstElementChild.value

            } else {
            product += " " + c2Words[i].firstElementChild.textContent

            }
        }

        product = this.capitalizeFirstLetter(product)
        console.log(product, "this is the outcome")
        gameEngine.setOutcome(product)
        return product;
    },

    capitalizeFirstLetter(string) {

      if(string.charAt(0) === " ") {
    return string.charAt(1).toUpperCase() + string.slice(2);

      } else {
    return string.charAt(0).toUpperCase() + string.slice(1);

      }
},

    moveToStage3() {
        var date = new Date(null);
        date.setSeconds(60-this.timer.getTotalTimeValues().seconds); // specify value for SECONDS here
        var timeString = date.toISOString().substr(11, 8);
        console.log(timeString)

        this.processOutcome();
    
        gameEngine.userData.time = this.timer.getTotalTimeValues().seconds
        gameEngine.userData.timeString = timeString


        console.log(gameEngine.userData)
        this.timer.stop();
        // gameEngine.
        this.stage = 3;
        this.userData = gameEngine.userData;
        window.scrollTo(0,0);
        // this.$router.push({path: '/score'});

    },

    moveBackToMissionCreation() {
            this.$socket.emit('removeUser', gameEngine.userData)
            console.log("removing user")
      gameEngine.reset();
      this.$router.push({path: '/mission'})
    },


    //This starts the game and should sent to socket
    moveToStage2() {
      this.stage = 2;
      this.$parent.stage = 1;

      if(this.showingHelp === false) {
        this.timer.start({countdown: true,startValues: {seconds: 60} });
        this.$socket.emit('startGame', gameEngine.userData)

      } else {
        this.timer.start();
      }
      // this.initDraggable();

      this.showingHelp = true;

      // Let websockets know we've started;


    },

    moveToScore() {
      // this.$socket.emit('getScore', gameEngine.userData)
      // timer.stop();

      this.$router.push({
        path: '/score'
      });

    },

    getNewBlocks() {
        console.log("NEW BLOCKS")

        this.selectedIndex = (this.selectedIndex + 1) % this.databaseStatements.length;
        gameEngine.userData.quote = this.databaseStatements[this.selectedIndex]


    },

    showChallenge() {
      this.showingHelp = true;
      this.stage = 1;
      this.timer.pause();
    }
  }
}
</script>

<style scoped>
.bottom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
}

.play-btn {
   background: red;
  color: white;
  border: 0px;
  border-radius: 0px;
  height: 40px;
  width: 120px;
  margin-top: 20px;

  font-family: 'lackregular', sans-serif;
}
.game {
  padding: 0px !important;
}

.mission-statement {
  color: gray;
}

.md-textarea {
  font-size: calc(0.5rem + 1.5vw) !important;
  color: black !important

}
#toolbar {
    width: 100%;
    height: 10vh;
      /* margin-top: 2vw; */
    padding: 2vh 2vw .5vh;

    display: flex;
    flex-direction: row;
    /* margin-bottom: 20px; */
    background: #1B1B1B;
}

#toolbar-landscape {
    width: 100%;
    height: 40px;
      margin-top: 2vw;

    display: flex;
    flex-direction: row;
    /* margin-bottom: 20px; */
    /* background: #1B1B1B; */
}

#bottom-bar {
      width: 100%;
    height: 40px;
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 20px; */
    /* background: #1B1Bt1B; */
}

.new-blocks-btn {
    height: 30px;
    width: 60px;
    flex-grow: 1;
}

.divider {
        flex-grow: 4;

}
.black {
  color: black !important;
  font-size: 20px;
}

.timer {
        height: 30px;
    width: 60px;
    font-size: inherit;
    padding-top:10px;
    /* margin-left: 10px; */
    transition: color 2s;
}
.challenge-btn {
  position: relative;
  top: 50px;
        left: 50%;
    transform: translate(-50%,0);

  width: fit-content;
  /* left: -20px; */
  /* background: red;
  color: white;
  border: 0px;
  border-radius: 0px;
  height: 40px;
  font-size: 15px;
  font-family: 'lackregular', sans-serif; */
}

.new-challenge {
  color: #FC3B2A;
  display: flex;
}


.instructions {
  font-size: 18px;
  margin-top:20px;
}

.red {
  color: #FC3B2A;
}
button > p {
  margin: 0px;
}

#stage-2 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  background: white;
      /* background: linear-gradient(0deg,rgba(255, 255, 255, 255) 50%, rgba(255, 255, 255, 0) 50%); */

}



.submit-screen {
   text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outcome {
      margin-top: 30px;

      text-align: center;
}

#time {
  color: black;
  font-size: 20px;
  margin-top: 30px;
}

#timestring {
  background-color: #FC3B2A !important; 
}

#confirmation {
  margin-top: 50px;
    /* width: 80vw; */
    font-size: inherit;
    /* line-height: 36px; */
    text-align: left;
    background-color: #FC3B2A !important;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-btn {
  /* font-size: 20px; */
  background:transparent;
    color:rgba(255,255,255,0.7);
}

.second-btn {
  background: #1B1B1B;
    color: white;
    width: 110px;
    height: 40px;
    /* font-size: 23px; */
    margin-top: 20px;
}

.block {
  background: white;
  color: #1b1b1b;
    padding: 5px;
}
</style>