<template>

  <div class="container margin-top">
      <div class="box">
        <div class="content central-text">
          <div class="logo-objects">
            <div class="square"></div>
            <div class="line"></div>
            <div>
              <h2 class="white large">Disjointed</h2>
            </div>
            <div>
              <h2 class="white large">Research</h2>
            </div>
            <div class="line"></div>
            <div>
              <h2 class="white large">Machine</h2>
            </div>
            <div class="square round"></div>
          </div>
          <div  v-if="!showDisclaimer">
                        <p class="white text-center">A playful experience with the JRC knowledge database</p>

          </div>
        </div>

      </div>
        <transition name="slide-fade">

          <div class="box" >
            <div class="content" v-if="!showDisclaimer">
              <button class="back white fill" @click="goLearnMore">Learn More</button>
              <button class="bg-red white fill" @click="showDisclaimer = true"> Let's Play </button>
            </div>
          </div>
        </transition>
        <transition name="slide-fade">
          <div class="box">
            <div class="content"  v-if="showDisclaimer" >
              <h4 class="white text-center v-small" style="padding: 15px 10vw;">We keep the anonymous data from your game interaction for artistic
                and research purposes. Is that okay?</h4>
              <button class="bg-white red small-btn center fill" @click="startGame"> Okay! </button>
            </div>
          </div>
        </transition>
  </div>
</template>

<script>
import anime from 'animejs/lib/anime.es.js';

export default {

  components: {
  },

    data() {
        return {
            username: "",
            gridPosition: -1,
            showDisclaimer: false,
            interval:null
        }
    },

    mounted() {
        this.interval = setInterval(()=>{
        this.randomValues()

        },1000)
    },
    destroyed() {
        clearInterval(this.interval);
    },

    methods: {
        startGame() {
            this.$router.push({path: '/mission'})
        },
        randomValues() {
            var idlePanels = anime({
                targets: '.logo-objects div',
                duration: function () {
                return anime.random(500, 100);
                },
                translateX: function () {
                return anime.random(-50, 50);
                },
                translateY: function () {
                return anime.random(-50, 50);
                },
                rotate: function () {
                return anime.random(-50, 50);
                },
                easing: 'easeInOutQuad',
                delay: anime.stagger(100),
                // complete: randomValues
            });
        },

        goLearnMore() {
            this.$router.push({path:'/info'})
        }


    },

    sockets: {
        userJoined(data) {
            console.log(data)
        }
    }

}
</script>

<style scoped>
.logo-objects{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:1rem 0 3rem 0;
}

.square{
  background-color:#FC3B2A;
  width:6vmin;
  height:6vmin;
}

.round{
  border-radius: 50%;
}

.line{
  background-color:#E9E9E9;
  height:.8vmin;
}

.line:nth-of-type(1n){
  width:25vmin;
}

.line:nth-of-type(2n){
  width:30vmin;
}


.margin-top {
    margin-top:5vh;
}

</style>