<template>
  <div class="container padding">
    <p>The Disjointed Research Machine is a digital experiment with the Joint Research Centre - European Commission
      database of science reports to explore playful possibilities to spark conversation on the edges of its knowledge.
      It asks participants to setup a provocative challenge and respond to it by rearranging quotes parsed from the
      data. Built using semantic similarity, the machine gives each participant a score. Sometimes unreasonable, always
      playful.</p>



    <p>This projected was created and produced by <a target="_blank" href="http://imaginationofthings.com">Imagination
        of Things </a>
      and it was commissioned by the <a target="_blank" href="http://https://ec.europa.eu/jrc/en">European Commission - Joint Research Centre</a> for the
      <a target="_blank" href="https://ec.europa.eu/jrc/en/event/exhibition/resonances-iii-exhibition">Resonances III Datami Festival and Exhibition</a>, Ispra and Bozar, Brussels.</p>

    <p>
      Font by Adrien Midizic. This project uses <a target="_blank" href="http://rednoise.org/rita">RiTa.js</a>, <a
        target="_blank" href="https://spacy.io">spaCy</a>.

    </p>

    <div class="content">
      <button @click="goBack" class="back white fill">Go Back</button>
    </div>

  </div>
</template>

<script>
  export default {

    methods: {
      goBack() {
        this.$router.push({
          path: '/'
        })
      }
    }

  }
</script>

<style scoped>
  .padding {
    padding: 5vw;
    text-align: left;
  }

  a {
    color: red !important
  }
</style>