<template>
<div class="container left flex" >

    <div class="mission end-item" @click="toggleFlex" v-if="!showModal">
            {{mission}}.

    </div>

<div class="score end-item" v-if="!showModal">
        <h3 class="outcome">"{{outcome}}." </h3>
        <div class="progress-bars">
          <div class="progress-column">
            <div>
              <p>Relevance</p>
              <md-progress-bar class="md-accent" style="margin: 5px 0px" md-mode="determinate" :md-value="relevance">
              </md-progress-bar>

            </div>
            <div>
              <p>Time</p>
              <md-progress-bar class="md-accent" style="margin: 5px 0px" md-mode="determinate" :md-value="time">
              </md-progress-bar>

            </div>
          </div>
          <div class="progress-column">
            <div>
              <p>Mood</p>
              <md-progress-bar class="md-accent" style="margin: 5px 0px" md-mode="determinate" :md-value="mood">
              </md-progress-bar>

            </div>
            <div>
              <p>On Topic</p>
              <md-progress-bar class="md-accent" style="margin: 5px 0px" md-mode="determinate" :md-value="completion">
              </md-progress-bar>

            </div>
          </div>

        </div>


    <p>Machine Score: </p>
    <h1 class="red">{{score}}% </h1>
                  <button class="bg-red white" style="margin-top:20px" @click="resetGame">Play again?</button>

</div>
<div v-if="showModal" class="modal">
  Reset
</div>



</div>
  
</template>

<script>

import gameEngine from '../GameEngine/GameEngine'
import {
  arrayUnion,
  arrayRemove
} from 'vuex-easy-firestore'
import {
  async
} from 'q';
import axios from 'axios'

export default {

  data() {
    return {
      mission: '',
      outcome: '',
      score: 0,
      mood: 50,
      relevance: 20,
      completion: 30,
      time: 80,
      showModal: true
    }
  },

  sockets: {

  },


  mounted() {


    console.log(gameEngine.userData.outcome.length)

    if (gameEngine.userData.outcome.length > 2) {
      this.mission = gameEngine.getPastMissionStatement();
      this.outcome = gameEngine.userData.outcome;
      if (this.outcome.charAt(this.outcome.length - 1) === " ") {
        this.outcome = this.outcome.slice(0, this.outcome.length - 1)
      }

      this.getScore();
      // OUTWARD CALL
      this.$socket.emit('newOutcome', gameEngine.userData)
      this.showModal = false;
    } else {
      this.showModal = true;
      this.$router.push({path: '/mission'})
    }



    // this.$store.dispatch('sessionsModule/set', {id: 'users', data: arrayUnion(gameEngine.userData)});
    // this.$store.dispatch('sessionsModule/set')
  },
  methods: {

    toggleFlex() {
      document.querySelector('.mission').classList.toggle('flexgrow')
      console.log("mission")
    },
    resetGame() {
      //   this.$socket.emit('removeUser', gameEngine.userData)
      console.log("remove user")
      this.$socket.emit('removeUser', gameEngine.userData)
      gameEngine.reset();

      this.$router.push({
        path: '/'
      })
    },

    async getScore() {

      console.log(gameEngine.userData)
      this.score = 62 + Math.floor(Math.random() * 10)
      try {
        const response = await axios.get('https://dataservice-dot-disjointed-machine.appspot.com/score', {
          params: {
            outcome: gameEngine.userData.outcome,
            preset: gameEngine.userData.challenge.score,
            mood: gameEngine.userData.emotion,
            completion: gameEngine.userData.completion,
            time: 60 - gameEngine.userData.time
          }
        });

        // const response = await axios.get('https://jrcdata-wprxcofz3q-ew.a.run.app/score?sentence=' + `${this.card} ${this.answer}`+'&mood='+`${this.mission.paris}`);

        let data = response.data;
        console.log(data)

        this.score = Math.round(data["score"] * 100)
        this.mood = Math.floor(data.mood * 100)

        this.relevance = Math.floor(data.preset * 100)
        this.time = Math.floor(data.time * 100)
        this.completion = Math.floor(data.completion * 100)

        gameEngine.userData.score = this.score
        // this.score = data["score"]





      } catch (error) {
        console.error(error);
        this.score = 62 + Math.floor(Math.random() * 10)
        gameEngine.userData.score = this.score

      }
      // this.$store.dispatch('sessionsModule/patch', {
      //   id: 'users',
      //   data: arrayUnion(gameEngine.getString()),
      // });
      this.$socket.emit('getScore', gameEngine.userData)

    },

  }

}
</script>

<style scoped>
.flex {
    display: flex;
    flex-direction: column;
      display: flex;
  align-items: center;
}

.end-item {
     flex-grow: 1;
               transition: all 0.5s ease-in-out;

}

.mission {
    
    background: white;
    color: black;
    padding: 20px;
    /* font-size: calc(15px + 50%) */
}

.outcome {
      font-size: calc(0.9rem + 0.75vw);
    line-height: calc(1rem + 1.5vw);
}

@media screen and (max-width: 320px){
.outcome {
      font-size: calc(0.7rem + 0.75vw);
    line-height: calc(1rem + 1.5vw);
}
}

.flexgrow {
    flex-grow: 4.3;
    font-size: 25px;
line-height: 5vh;
}
.progress-bars {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25vh;
    /* padding: 0 5vw; */
}

.progress-column {
    display: flex;
        padding: 0 3vw;

        width: 100%;
    flex-direction: column;
}
.score {
    flex-grow: 10;
    text-align: center;
    padding: 3vw;
    width: 100vw;
}

@media screen and (min-width: 768px) {
    .flex {
    display: flex;
    flex-direction: row;
      display: flex;
  align-items: center;
}

.end-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* top: 10vh; */
    height: 100vh;
    padding: 3vw;
    /* position: relative; */
}

.mission {
    height: 100vh;
    display: flex;
    padding: 10vw;
    width: 50vw;
    min-width: 50vw;
    font-size: 27px;
    line-height: 30px;
    /* align-items: center; */
}
}

</style>