@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(rgb(255, 255, 255), A200), // The primary color of your application
  accent: #FC3B2A ,// The accent or secondary color

  theme: dark // This can be dark or light
));



.md-field {
  padding-top: 0px !important;
  margin-top: 0px !important;
  
}
body {
  font-size: inherit !important;
}



.md-input {
  font-size: calc(1.4rem + 1.5vw) !important;
  // width: 
    line-height: calc(1.5rem + 1.5vw);
  font-family: 'lackregular', sans-serif !important;
  background: transparent !important;
  color: #FC3B2A !important;
  height: auto !important;
  border: none !important;
  // width: auto !important;
  outline: none !important;
  -webkit-text-fill-color: #FC3B2A !important;
 
}

.md-icon {
  margin: 0px;
}
.md-list {
  background: transparent !important;
}

.md-select {
  border: 0px;
}
.md-list-item {
  font-family: 'lackregular', sans-serif;
  background: rgb(201, 201, 201) !important;
  // color: pink !important;
  // width: 25vw;
}

.md-list-item-text{
  color: red;
}

.md-textarea {
  font-size: calc(1.4rem + 1.5vw) !important;
  font-family: 'lackregular', sans-serif !important;
  // max-width: 
}

.red-bg {
  background: #FC3B2A;
  color: white;
}

.red {
  color: #FC3B2A;

}

.emotion-select {
  background: transparent;
  border: 0;
  font-size: inherit;
  font-family: 'lackregular', sans-serif;
  outline: none;
}




.challenge-btn {
  position: relative;;
  top: 50px;
  width: fit-content;


  // /* left: -20px; */
  background: #FC3B2A;
  color: white;
  border: 0px;
  border-radius: 0px;

  // font-size: inherit;
  font-family: 'lackregular', sans-serif;
}

.btn-shake {
  animation-name: shake;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}


// MISSION CREATION ANIMATIONS

.twoArrows {
  height: calc(1.1rem + 0.75vw);
  // padding: .25em;
  width: 0.5em;
  // border: 1px solid pink;
  display: inline-block;
  position: relative;
  &:before, &:after {
    content: '';
    display: block;
  }

  &:before {
    border-color: transparent transparent transparent #FC3B2A;
    border-style: solid;
    border-left: .125em solid transparent;
    border-right: .125em solid transparent;
    border-bottom: .225em solid #FC3B2A;
    height: 0;
    position: absolute;
    top: -20%;
    left: 50%;
    width: 0;
    animation: bounceUp 1.5s alternate-reverse 1;
  }
  &:after {
    border-color: transparent transparent transparent #FC3B2A;
    border-style: solid;
    border-left: .125em solid transparent;
    border-right: .125em solid transparent;
    border-top: .225em solid #FC3B2A;
    height: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    width: 0;

    animation: bounceDown 1.5s alternate-reverse 1;
  }
}


@-webkit-keyframes rotate {
  50% { 
    -webkit-transform: rotate(90deg);}
}
@keyframes rotate {
  50% { 
    transform: rotate(90deg); 
}
}

@-webkit-keyframes bounceDown {
  50% { 
    -webkit-transform: translateY(.1em);}
}
@keyframes bounceDown {
  50% { 
    transform: translateY(.1em); 
}
}

@-webkit-keyframes bounceUp {
  50% { 
    -webkit-transform: translateY(-.1em);}
}
@keyframes bounceUp {
  50% { 
    transform: translateY(-.1em); 
}
}


@-webkit-keyframes rotate {
  50% { 
    -webkit-transform: rotate(90deg);}
}
@keyframes rotate {
  50% { 
    transform: rotate(90deg); 
}
}

@-webkit-keyframes bounceDown {
  50% { 
    -webkit-transform: translateY(.1em);}
}
@keyframes bounceDown {
  50% { 
    transform: translateY(.1em); 
}
}

@-webkit-keyframes bounceUp {
  50% { 
    -webkit-transform: translateY(-.1em);}
}
@keyframes bounceUp {
  50% { 
    transform: translateY(-.1em); 
}
}


@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

.md-field {
  width: 100%;
  min-height: 25px !important;
  // /* min-height: 48px; */
  margin: 4px 0 24px;
  font-size: 1.8rem;
  /* padding-top: 16px; */
  display: flex;
  position: relative;
  font-family: inherit;

}

@import "~vue-material/dist/theme/all"; // Apply the theme



/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 11, 2018 */





@font-face {
  font-family: 'lackregular';
  src: url('./fonts/Lack-Regular.woff2') format('woff2'),
       url('./fonts/Lack-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.toolbar-btn {
  background: transparent;
  border: 0px;
  font-family: sans-serif;
  font-size: 30px;
  // width: 50px;
  // max-width: 40px;
  // padding: 0px 10px;
  // height: 40px;
  transition: transform .2s ease-in-out; 
  z-index: 123;
}


input {
   outline:1px solid black;


}





.black{
  color:#1B1B1B;
}
.bg-black{
  background-color:#1B1B1B;
}

.red{
  color:#FC3B2A;
}

.bg-red{
  background-color:#FC3B2A;
}

.white{
  color:white;
}

.bg-white{
  background-color:white;
}

button{
  font-size: 4vmin;
  font-family: 'lackregular', sans-serif;
  padding:2vw 3vw;
  border:none;
  overflow: hidden;
}

.back{
  background-color: Transparent;
  border: none;
  opacity:.6;
  margin:0 0 1em 0;
}

button:focus {
    outline: none;
}

button:hover {
cursor:pointer;
}


/* Isi */
.button--isi::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 100%;
	margin: -15px 0 0 1px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #E9E9E9;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: scale3d(1, 2, 1);
	transform: scale3d(1, 2, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}
.button--isi .button__icon {
	vertical-align: middle;
}
.button--isi > span {
	vertical-align: middle;
	padding-left: 0.75em;
}
.button--isi:hover::before {
	-webkit-transform: scale3d(9, 9, 1);
	transform: scale3d(9, 9, 1);
}

.md-button {
  text-transform: initial !important;
}

// USAGE
body {
  font-family: 'lackregular';
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

#app {
  font-family: 'lackregular';
  overflow-x: hidden;
  position: fixed;
  top:0px; 
  left: 0px;

}

.left {
  text-align: left;
}

.container{
  width: 100vw;
  display:flex;
  flex-direction:column;
  height:auto;
  padding:0;
  margin:0;
  position: fixed;
  top:0px;
  left:0px;
  // height: 100vh !important;
  // overflow: hidden;
}

/* Each section needs this box class to make it float center  */
.box{
  display:flex !important;
  justify-content:center !important;
}

.content{
  display:flex;
  flex-direction:column;
}

/* Styles that make the main text centrally floating and a set width. */

.main{
/*   for the top box */
  height:60vh;
}

.half{
/*   when the content is split in half vertically --- use this instead of 'main' */
  height:32vh;
}

.sit {
  position: fixed;
  bottom: 10px;
}

.center{
  align-self:center;
}

.central-text{
/*   Width of the text in the middle */
  max-width:86vw;
  min-width:60vw;
/*   Note:maybe you already have better media query solution for this? */
}

/* This keeps the button hanging from the top of its container. */

.top{
  align-self:flex-start;
}

.bottom{
  align-self:flex-end;
}



.stage {
  width: 100%;
  height: 100vh;
  // border: 1px solid red
}





.custom-select {
  color: white;
  font-size: inherit;
  font-family: 'lackregular';
}
.submit-words-btn {
  background: #FC3B2A !important;
  color: white !important;
  border-radius: 0em;
  color: white;
  width: 145px;
  height: 38px;
  transition: background .5s ease-in, border-radius .5s ease-in, width .5s cubic-bezier(0, 0, 0, 1.93),height .5s cubic-bezier(0, 0, 0, 1.93); ;
  transform: scale(1.1);


}

.submit-words-btn:disabled {
  background: rgb(193, 193, 193) !important;
  color: white !important;
width: 140px;
height: 35px;
border-radius: .5em;
transform: scale(1);
}

@keyframes btnExpand {
  50% { 
    border-radius: 0em; 
    background-color:#FC3B2A;
    color:white;
}
}

.submit-words-btn-landscape {
  left: 75%;
  position: absolute;
  bottom: 10px;
transform: translate(-50%,0);
background: #FC3B2A !important;
color: white !important;
width: 150px;
}


.add-btn {
  align-items: center;
  background-color: #fc3b2a;
  border: 0 solid #fff;
  display: inline-flex;
  align-content: center;
  padding: 0px 4px;
  font-size: 12px;
  text-align: center;
  height: 32px;
    width: 120px;
  border-radius: 16px;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  opacity: 1;
  position: relative;
  transition: all 0.3s;
  font-size: 12px;
}

.add-btn-unfold {

}

.add-btn-hide {
  width: 32px;
  border-radius: 50%;
  color: #fc3b2a;
  font-size: 0;

}
.add-btn-hide span {
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
  opacity: 0 !important;
  position: absolute;
  color: inherit;

}
.add-btn > span {
  color: #fff;
  padding-left: 5px;
  opacity: 1;

}
.add-btn i {
  color: #fff;
}

.add-btn-showtext {

}

.md-button:disabled {
  backgound: grey;
  color: white;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-active /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

.reloadSingle {
  height: 2em;
  padding: .25em;
  width: 2em;
    -webkit-animation: rotate 1.5s alternate-reverse 1;
  animation: rotate .8s alternate-reverse 1;
  &:before, &:after {
    content: '';
    display: block;
  }
  &:before {
    border-color: transparent #FC3B2A #FC3B2A #FC3B2A;
    border-radius: 50%;
    border-style: solid;
    border-width: .125em;
    height: 1.5em;
    width: 1.5em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    border-color: transparent transparent transparent #FC3B2A;
    border-style: solid;
    border-width: .3125em 0 .3125em .5em;
    height: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
  }
}





// Two column 
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    height: auto;
  }
  .inline-field {
    width: 50vw !important;
  }
  .stage {
    padding: 5vw;
  }
}

@media screen and (max-width: 320px){


  #confirmation {
    margin-top: 50px;
      width: 80vw;
      font-size: 20px;
      line-height: 36px;
      text-align: left;
  }
  
}




@media screen and (min-width: 768px) {
  .stage {
    padding: 100px;
  }
  .inline-field {
    width: 30vw !important;
  }
.top-padding {
  height: 10vh !important;
}
}







// FONT STYLES

@media screen and (min-width: 576px) {
  html {
    font-size: calc(1.8em + 1vw);
 }
}
@media screen and (min-width: 768px) {
  html {
    font-size: calc(1.2em + 2vw);
 }
}
@media screen and (min-width: 992px) {
 html {
   font-size: calc(1em + 1vw);
 }
}
@media screen and (min-width:1024px) {
  html {
    font-size: calc(1em + 1.4vw);
 }
}

body {
  line-height: 1.5rem;
  padding: 1.5rem 0;
}
p {
  line-height: 1.5rem;
  margin-bottom: .2rem;
}
h1, h2, h3, h4, h5 {
  margin-bottom: .1rem;
  font-weight:normal;
}
h1 {
  font-size: 2.6rem;
  line-height: 2.9rem;
}


h2 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  border:solid .1em;
  padding:1vmin 2.2vmin;
}
h3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.3rem;
}
h5 {
  font-size: 0.875rem;
  line-height: 1.2rem
}

a{
 color:#FC3B2A;
 text-decoration:none;
}

button{
 font-size: 1rem;
 line-height: .9rem;
}

li {
 list-style-type: none !important;
 position:relative;
//  margin-bottom:0.5em;
}

li .margin-bottom {
  list-style-type: none;
  position:relative;
  margin-bottom:0.5em;
 }
li:before {
 content: '•';
 position: absolute;
 left: -1em;
}

button.fill{
 padding:.7rem 1.2rem;
}

.back{
 background-color: Transparent;
 border: none;
 opacity:.6;
 margin:0 0 1.6rem 0;
}

.left-align {
  text-align: left;
}

.text-center{
 text-align:center;
}

h2 .border-white{
 border:solid white .1em;
 width:auto;
}
