<template>


  <div id="app">


    <!-- <div class="top" v-if="stage===0">

      <div class="top-padding"></div>
      <div class="title-block center"><span>Disjointed</span><span> Research</span> <span> Machine </span></div>
      <div class="subtitle-block center">
        <p style="margin:0px">A playful experience with the JRC knowledge database</p>
        <md-button style="color: grey">Learn more</md-button>


      </div>

      <div class="bottom-block center">
        <p> Create your challenge </p>
        <img src="static/arrow_down.svg" alt="refresh" height="30px" width="30px" />

      </div>
    </div> -->
    <!-- <div class="top" v-if="stage===1">
      <mission-creation :isOnApp="true"></mission-creation>
    </div> -->

    <main>
      <router-view />
    </main>


  </div>
</template>

<script>
import MissionCreation from './components/views/MissionCreation'
import axios from 'axios'
export default {
  name: 'App',
  components: {
    'mission-creation': MissionCreation
  },
  data() {
    return {
      isConnected: false,
      socketMessage: '',
      time: '',
      stage: 0,
      username: "",
      gridPosition: -1,
    }
  },

  mounted() {
    // window.scrollTo(0,0)
    this.$store.dispatch('sessionsModule/openDBChannel').catch(console.error)
    // var intViewportHeight = window.innerHeight;
    // console.log(intViewportHeight)
    // window.addEventListener('scroll', (e) => {
    //   console.log(window.scrollY)

    //   if(window.scrollY === intViewportHeight) {
    //     window.scrollTo(0, intViewportHeight)
    //     this.disableScroll();
    //     console.log("bottom")
    //   }
    // });

            
    // try {
    //   const response = axios.get('https://dataservice-dot-disjointed-machine.appspot.com/score', {
    //     params: {
    //       outcome: 'the ',
    //       preset: 'the',
    //       mood: 'the',
    //       completion: 'the',
    //       time: 60
    //     }
    //   });


    // } catch (error) {
    //   console.error(error);

    // }

       
  },

  sockets: {
    connect() {
      // Fired when the socket connects.
      this.isConnected = true;
      // this.addUser();
      this.pingServer();
      this.$socket.emit('addUser')



    },

    userJoined(data) {
      // this.username = data.username;
    },

    disconnect() {
      this.isConnected = false;
      this.$socket.emit('removeUser')
    },
  },

  beforeDestroy() {
          this.$socket.emit('removeUser')

  },



  methods: {
    pingServer() {
      // Send the "pingServer" event to the server.
      // this.$socket.emit('pingServer', 'PING!')

    },

 

    addUser() {
      // Send the "pingServer" event to the server.
      // this.$socket.emit('addUser')

    },

    disableScroll() {
        // alert("disabled scroll")
        // document.querySelector('main').setAttribute("style", "height: 120vh;");
        // Get the current page scroll position 
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        let scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;

          // if any scroll is attempted, set this to the previous value 
          window.onscroll = function () {
            window.scrollTo(scrollLeft, scrollTop);
          };
      },

      enableScroll() {
        window.onscroll = function () {};
      }
  }
}
</script>

<style>
#app {
  font-family: 'lackregular',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  width: 100vw;
  overflow-x: hidden;
  background:#1B1B1B;
  height: 100vh;
  /* margin-top: 60px; */
  
}

body {
  background: #1B1B1B;
}


.top {
    width: 100%;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0px;
    text-align: center;
}

.title-block {
      font-size: 25px;
    line-height: 48px;
    font-weight: bold;
    width: 200px;
}

.title-block > span:nth-child(even) {
  padding: 5px;
  border-radius: 30px;
      border: 1px solid white;

}

.title-block > span:nth-child(odd) {
  padding: 5px;
      border: 1px solid white;

}


.subtitle-block {
  text-align: center;
  width: 250px;
  font-size: 16px;

  margin-top: 30px;


}
.bottom-block {
  color: white;
  position: relative;
}



main {
  width: 100%;
  top: 0px;
  left: 0px;
  overflow-x:hidden;
}

.top-padding {
  height: 2vh;
}






</style>
