<template>
  <div class="scene">
  <div class="box wiggler">
    <div class="box__face box__face--front">{{text}}</div>
    <div class="box__face box__face--back"></div>
    <div class="box__face box__face--right"></div>
    <div class="box__face box__face--left"></div>
    <div class="box__face box__face--top"></div>
    <div class="box__face box__face--bottom"></div>
  </div>
</div>

</template>

<script>
export default {

    props: ['text']

}
</script>

<style scoped>
body { font-family: sans-serif; }

.scene {
  width: 150px;
  height: 100px;
  perspective: 400px;
  transform: scale3d(0.8)
}

@media (max-width: 600px) {
    .scene {
          margin: 33%;

    }
}

@media (min-width: 600px) {
    .scene {
        left: 50%;
    position: absolute;
    top: 100px;
    transform: scale(1.5);

    }
}

.box {
  width: 150px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;

}

.box.show-front  { transform: translateZ( -50px) rotateY(   0deg); }
.box.show-back   { transform: translateZ( -50px) rotateY(-180deg); }
.box.show-right  { transform: translateZ(-150px) rotateY( 25deg); }
.box.show-left   { transform: translateZ(-150px) rotateY(  90deg); }
.box.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.box.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }


.box__face {
  position: absolute;
  border: 2px solid black;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.box__face--front,
.box__face--back {
  width: 100px;
  height: 150px;
  line-height: 20px;
}

.box__face--right,
.box__face--left {
  width: 50px;
  height: 150px;
  left: 100px;
  line-height: 100px;
}

.box__face--top,
.box__face--bottom {
  width: 100px;
  height: 50px;
  top: 50px;
  line-height: 100px;
}

.box__face--front  { background: hsla(  0, 100%, 0%, 0.9); }
.box__face--right  { background: rgba(74, 74, 74, 0.9); }
.box__face--back   { background: hsla(0, 0%, 50%, 0.9); }
.box__face--left   { background: rgba(24, 24, 24, 0.9); }
.box__face--top    { background: rgba(33, 33, 33, 0.9); }
.box__face--bottom { background: rgba(63, 63, 63, 0.9); }

.box__face--front  { transform: rotateY(  0deg) translateZ( 25px); }
.box__face--back   { transform: rotateY(180deg) translateZ( 25px); }

.box__face--right  { transform: rotateY( 90deg) translateZ(-25px); }
.box__face--left   { transform: rotateY(-90deg) translateZ(125px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(75px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(75px); }

label { margin-right: 10px; }





/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(10deg);}
	50% {-webkit-transform:rotate(-10deg);}
	100% {-webkit-transform:rotate(10deg);}
}

/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(10deg);}
	50% {-moz-transform:rotate(-10deg);}
	100% {-moz-transform:rotate(10deg);}
}

/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotateY(-10deg);}
	50% {transform:rotateY(10deg);}
	100% {transform:rotateY(-10deg);}
}

.wiggler {
	-webkit-animation: wiggle 6s infinite;
	-moz-animation: wiggle 6s infinite;
	animation: wiggle 6s infinite;
}
</style>