<template>
<div class="container">
  <h1>SECTION 1</h1>
  <div class="bookmark-container c1">
    <div class="item">
      <div class="item-content">It is to be hoped</div>
    </div>
    <div class="item">
      <div class="item-content">that</div>
    </div>
    <div class="item">
      <div class="item-content">Earth</div>
    </div>
    <div class="item">
      <div class="item-content">takes enough</div>
    </div>
    <div class="item">
      <div class="item-content">carbon</div>
    </div>
    <div class="item">
      <div class="item-content">from the atmosphere</div>
    </div>
    <div class="item">
      <div class="item-content">to save us from</div>
    </div>
    <div class="item">
      <div class="item-content">apocalypse</div>
    </div>
  </div>

  <h1>SECTION 2</h1>
  <div class="bookmark-container c2"></div>
</div>
</template>

<script>
import wb from 'web-animations-js'
import Muuri from 'muuri'

export default {

    mounted() {
        var bookmarkContainers = document.querySelectorAll('.bookmark-container');

        var gridObjects = [];

        for (var i = 0; i < bookmarkContainers.length; i++) {
          gridObjects[i] = new Muuri(bookmarkContainers[i], {
            dragEnabled: true,
            dragSort: function () {
              return gridObjects;
            }
          });
        }
    }

}
</script>

<style>

.container {
    width: 100%;
}

.bookmark-container {
  position: relative;
  width: 100%;
  margin: 5px 5px;
}

.item {
  position: absolute;
  display: inline-block;
  /* line-height: 40px; */
  font-size: 2em;
  /* margin: 15px; */
  z-index: 1;
}

.c2 {
  min-height: 500px;
}

.item-content {
  position: relative;
  margin: 5px;
  background-color: #3E444D;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 10px 20px 0px rgba(47, 47, 47, 0.03);
  font-size: calc(0.7rem + 1vw);
  color: white;
  cursor: pointer;
}

.item.muuri-dragging,
.item.muuri-releasing {
  z-index: 2;
}

.item.muuri-hidden {
  z-index: 0;
}

</style>