<template>
  <div class="container game">

  

    <div class="stage left" v-if="stage===1">
      <p class="mission-statement"> {{missionStatement}} </p>

        <div class="new-challenge" @click="moveBackToMissionCreation">
                <img src="static/arrow_left.svg" alt="refresh" height="30px" width="30px" />

          <p> Change your challenge </p>

        </div>
      <vueper-slides :slide-ratio="1/2" fixed-height="300px">
        <vueper-slide v-for="i in 3" :key="i"  >
             <div slot="slideContent">
    <img src="http://placekitten.com/g/100/100" />
    <div class="instructions">
        These are instructions to help you play

    </div>

    </div>
        </vueper-slide>
      </vueper-slides>

      <div v-if="!showingHelp" class="bottom-button">
              <button class="challenge-btn" :disabled=apiSending @click="moveToStage2">
        <p v-if="apiSending" md-mode="indeterminate">Loading</p>
        <p v-if="!apiSending" md-mode="indeterminate">Got it!</p>
      </button>
      </div>
      <div v-if="showingHelp" class="bottom-button">
              <button class="challenge-btn"  @click="moveToStage2">
                <p>Keep Playing</p>
              </button>
      </div>


    </div>
    <div class="stage" id="stage-2" v-if="stage===2">
      <div id="toolbar">
        <div class="timer" v-bind:class="{ red: time==='0:00' }">{{time}}</div>

        <div class="divider"></div>
        <md-button v-if="stage===2" class=" md-accent small-btn" @click="showChallenge">The Challenge <img
            src="static/arrow-up.svg" alt="triangle with all three sides equal" height="20px" width="20px" />
        </md-button>
        <!-- <md-button class="md-raised md-accent new-blocks-btn" @click="getNewBlocks">New blocks</md-button> -->

      </div>
      <div v-for="(statement,index) in databaseStatements">


        <block-view-component v-on:new-blocks="getNewBlocks" v-bind:key="index" v-if="index === selectedIndex"
          :databaseStatement=statement>
        </block-view-component>

      </div>


      <md-button class="md-raised md-accent submit-words-btn" v-if="showPlayButton" @click="moveToStage3">Done!</md-button>

    </div>

    <div class="stage red-bg submit-screen" v-if="stage===3">


      <div v-if="!checkIfSure" id="time">
        {{userData.timeString}}
      </div>
      <div v-if="!checkIfSure" id="outcome">
        "{{userData.outcome}}"

      </div>

      <div v-if="!checkIfSure" id="confirmation">
        Are you sure you want to submit this {{userData.challenge.material}}?

      </div>

          <div v-if="checkIfSure" id="confirmation">
        Are you sure you want to toss it and try again?

      </div>

      <div  class="buttons">
        <button v-if="!checkIfSure" class="first-btn" @click="checkIfSure = true">Try Another</button>
        <button v-if="!checkIfSure" class="second-btn" @click="moveToScore">Submit</button>
        <button v-if="checkIfSure" class="first-btn" @click="checkIfSure = false">Go Back</button>
        <button v-if="checkIfSure" class="second-btn" @click="moveBackToMissionCreation">Yes</button>
      </div>
    </div>
  </div>
</template>

<script>
import gameEngine from '../GameEngine/GameEngine'
import wb from 'web-animations-js'
import BlockViewComponent from './BlockViewComponent'
import Muuri from 'muuri'
import anime from 'animejs/lib/anime.es.js';
import {arrayUnion} from 'vuex-easy-firestore'
import axios from 'axios'
import RiTa from 'rita'
import Timer from 'easytimer.js';
import { VueperSlides, VueperSlide } from 'vueperslides'

// Since v. 1.6.0, you need to include Vueper Slides CSS file for default styles.
import 'vueperslides/dist/vueperslides.css'

export default {

  components: {
    'block-view-component': BlockViewComponent,
    VueperSlides, VueperSlide 
  },

  data() {
    return {
        apiSending: false,
      stage: 1,

      showingHelp: false,
      blanks: [0, 1, 2],
      missionStatement: "Make a mission statement for the EU based on fear that eats potatoes",

      mockStatements: [
        ['It', 'is to be hoped that the', 'commission', 'takes a rigourous', 'line', 'in examining such', 'applications', 'for delay'],
        ['The monumental chance', ' that', ' we may change the', 'world\'s economy', ' through force alone'],
        ['It', 'is to be hoped that the', 'commission', 'takes a rigourous', 'line', 'in examining such', 'applications', 'for delay'],
        ['The monumental chance', ' that', ' we may change the', 'world\'s economy', ' through force alone'],
        ['It', 'is to be hoped that the', 'commission', 'takes a rigourous', 'line', 'in examining such', 'applications', 'for delay'],

      ],

    //   realStatements

      databaseStatements: [],

      selectedIndex: 0,

      showPlayButton: false,

      timer: null,
      time: '1:00',

      blankText: ['blank', 'blank', 'blank'],

      userData: {},

      checkIfSure: false
    }
  },

  mounted() {
    if (gameEngine.userData.missionStatement) this.missionStatement = gameEngine.userData.missionStatement
    this.timer = new Timer();
    this.timer.addEventListener('secondsUpdated', (e) => {
      this.time = this.timer.getTimeValues().toString().slice(3)
      console.log(this.time)
      this.$socket.emit('timeUpdate', {
        time: this.time,
      })
      this.timer.addEventListener('targetAchieved',  (e) => {
        this.$socket.emit('disactivate')
        // this.moveToScore();

        this.time = '0:00'
      });
    });

    //send for data
    this.sendForData(gameEngine.userData.emotion, gameEngine.userData.completion);
    this.databaseStatement = this.mockStatements[0]
    setInterval(()=>{

        if(document.querySelector('.c2')) {
       this.showPlayButton =  document.querySelector('.c2').children.length>2

        }
    },1000)
  },
  methods: {

async sendForData(emotion, completion) {

    if(!emotion) {
        emotion = 'the world'
    }

    console.log("Sending for data with", emotion + " " + completion)
         this.apiSending = true;
        try {

        const response = await axios.get('https://dataservice-dot-disjointed-machine.appspot.com/?sentence=' + `${emotion}`);
        this.apiSending = false;


        let data = response.data.text;
        // console.log(data)

        this.processSentences(data.slice(0,5))
  
   

          



        } catch (error) {
          console.error(error);


        }
    },


    processSentences(sentences) {
        sentences.forEach((el) => {
            let output = []
            let tags = RiTa.getPosTags(el, true);
            let tokens = RiTa.tokenize(el);
            let temp = ''
            tags.forEach((tag, index)=>{
                // console.log(tag, tokens[index])
                if(tag === "n") {
                     if(temp.length>2){
                        output.push(temp)
                    }
                    output.push(tokens[index])
                    temp = ''
                } else {


                 
                    temp += ' ' + tokens[index]

                    

                }
            })
  
            if(temp.length > 1 && temp.length < 20) {
              output.push(temp);
            } else if (temp.length>1 && temp.length >= 20){
               let tokens = RiTa.tokenize(temp);

              let halfwayThrough = Math.floor(tokens.length / 2)

              let arrayFirstHalf = tokens.slice(0, halfwayThrough);
              let arraySecondHalf = tokens.slice(halfwayThrough, tokens.length);
              output.push(RiTa.untokenize(arrayFirstHalf))
              output.push(RiTa.untokenize(arraySecondHalf))

    
            }



            this.databaseStatements.push(output)

        })

        console.log(this.databaseStatements)
    },

    moveToStage3() {
        let c2Words = document.querySelector('.c2').children;
        var date = new Date(null);
        date.setSeconds(60-this.timer.getTotalTimeValues().seconds); // specify value for SECONDS here
        var timeString = date.toISOString().substr(11, 8);
        console.log(timeString)
    
        gameEngine.userData.time = this.timer.getTotalTimeValues().seconds
        gameEngine.userData.timeString = timeString

        let product = ""
        for(let i=0; i<c2Words.length; i++) {
            console.log(c2Words[i].firstElementChild.firstElementChild)
            if(c2Words[i].firstElementChild.firstElementChild) {
                           product += " " + c2Words[i].firstElementChild.firstElementChild.value

            } else {
            product += " " + c2Words[i].firstElementChild.textContent

            }
        }
        gameEngine.setOutcome(product)
        console.log(gameEngine.userData)
        this.timer.stop();
        // gameEngine.
        this.stage = 3;
        this.userData = gameEngine.userData;
        // this.$router.push({path: '/score'});

    },

    moveBackToMissionCreation() {
      this.$router.push({path: '/'})
    },

    moveToStage2() {
      this.stage = 2;
      this.$parent.stage = 1;

      if(this.showingHelp === false) {
        this.timer.start({countdown: true,startValues: {seconds: 60} });

      } else {
        this.timer.start();
      }
      // this.initDraggable();

      this.showingHelp = true;

      // Let websockets know we've started;


    },

    moveToScore() {
      this.$router.push({
        path: '/score'
      });

    },

    getNewBlocks() {
        console.log("NEW BLOCKS")

        this.selectedIndex = (this.selectedIndex + 1) % this.databaseStatements.length;
    


    },

    showChallenge() {
      this.showingHelp = true;
      this.stage = 1;
      this.timer.pause();
    }
  }
}
</script>

<style scoped>

.game {
  padding: 0px !important;
}

.mission-statement {
  color: gray;
}

.md-textarea {
  font-size: calc(0.5rem + 1.5vw) !important;
  color: black !important

}
#toolbar {
    width: 100%;
    height: 40px;
    
    display: flex;
    flex-direction: row;
    /* margin-bottom: 20px; */
    background: #1B1B1B;
}

.new-blocks-btn {
    height: 30px;
    width: 60px;
    flex-grow: 1;
}

.divider {
        flex-grow: 4;

}

.timer {
        height: 30px;
    width: 60px;
    font-size: 20px;
    padding-top:10px;
    /* margin-left: 10px; */
    transition: color 2s;
}
.challenge-btn {
  position: relative;
  top: 50px;
        left: 50%;
    transform: translate(-50%,0);

  width: 150px;
  /* left: -20px; */
  background: red;
  color: white;
  border: 0px;
  border-radius: 0px;
  height: 40px;
  font-size: 15px;
  font-family: 'lackregular', sans-serif;
}

.new-challenge {
  color: #FC3B2A;
  display: flex;
}


.red {
  color: #FC3B2A;
}
button > p {
  margin: 0px;
}

#stage-2 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  background: white;
      /* background: linear-gradient(0deg,rgba(255, 255, 255, 255) 50%, rgba(255, 255, 255, 0) 50%); */

}

.submit-words-btn {
      left: 50%;
    transform: translate(-50%,0);
    background: red !important;
    color: white !important;
    width: 150px;
}

.submit-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outcome {
      margin-top: 30px;
      text-align: center;
}

#time {
  color: black;
  font-size: 20px;
  margin-top: 30px;
}

#confirmation {
  margin-top: 50px;
    width: 80vw;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-btn {
  font-size: 20px;
    color: #c1c1c1;
}

.second-btn {
  background: #1B1B1B;
    color: white;
    width: 110px;
    height: 40px;
    font-size: 23px;
    margin-top: 20px;
}
</style>