<template>

  <div class="container">

    <div class="top-padding"></div>

    <div class="column">
      <div class="title-block center"><logo></logo></div>

    </div>

    <div class="column">
      <div class="subtitle-block center">
        <p style="margin:0px">A playful experience with the JRC knowledge database</p>
        <md-button style="color: grey">Learn more</md-button>


      </div>

     
    </div>

     <div class="bottom-block center">
        <button class="challenge-btn" style="width: fit-content" @click="startGame">Create your challenge </button>

        <!-- <p> Create your challenge </p> -->
        <!-- <img src="static/arrow_down.svg" alt="refresh" height="30px" width="30px" /> -->
      </div>
  </div>
</template>

<script>
import Logo from './Logo'
export default {

  components: {
    'logo' : Logo,
  },

    data() {
        return {
            username: "",
            gridPosition: -1,
        }
    },

    methods: {
        startGame() {
            this.$router.push({path: '/mission'})
        },



    },

    sockets: {
        userJoined(data) {
            console.log(data)
        }
    }

}
</script>

<style scoped>



</style>