<template>
  <div class="hello">
    <h1> The Disjointed Research Game</h1><h1> -a digital card game for irreverant data</h1>
        <h3> 1-10 Players</h3>

      <md-button @click="$router.push({path: '/question'})" class="md-raised md-accent">Play a game</md-button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  width: 100%;
  height: 100%;
  padding: 0 10%;
}
h1 {
  font-size: 2rem;
  line-height: 2rem;
  text-align: left;
}

button {
      width: 100px;
    height: 42px;
    font-size: 1rem;
    font-family:  sans-serif;
}


</style>
