<template>
<div class="word-container">
  <div class="logo-objects">
    <div class="square"></div>
    <div class="line"></div>
    <div>
      <h1>Disjointed</h1>
    </div>
    <div>
      <h1>Research</h1>
    </div>
    <div class="line"></div>
    <div>
      <h1>Machine</h1>
    </div>
    <div class="square round"></div>
  </div>
</div>
</template>

<script>
import anime from 'animejs/lib/anime.es.js';
export default {

    mounted() {
        setInterval(()=>{
        this.randomValues()

        },3000)
    },

    methods: {
        randomValues() {
          var idlePanels = anime({
            targets: '.logo-objects div',
            translateX: function () {
              return anime.random(-50, 50);
            },
            translateY: function () {
              return anime.random(-50, 50);
            },
            rotate: function () {
              return anime.random(-50, 50);
            },
            easing: 'easeInOutQuad',
            duration: function () {
              return anime.random(1000, 3000);
            },
            delay: anime.stagger(100),
            // complete: this.randomValues()
          });
        }
    }

}
</script>

<style scoped>
.word-container{
  background-color:#1B1B1B;
  /* padding:5em 2em; */
  z-index: -1;
  width: 100%;
  height: 100%;
  /* height: 30vh;
   */
}
h1{
  color:white;
  border:solid white .1em;
  padding:3vmin 5vmin;
  font-size: 6vmin;
  font-family: 'lackregular', Helvetica, sans-serif;
}



.logo-objects{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.square{
  background-color:#FC3B2A;
  width:6vmin;
  height:6vmin;
}

.round{
  border-radius: 50%;
}

.line{
  background-color:#E9E9E9;
  height:.8vmin;
}

.line:nth-of-type(1n){
  width:25vmin;
}

.line:nth-of-type(2n){
  width:30vmin;
}
</style>