<template>
  <div class="container padding20" >

    <div class="stage" id="stage-1" v-if="stage === 1 && mission">
      <!-- <button @click="unlockScroll" style="width: 30px; height: 30px;"><span style='font-size:30px; color:red'>&#9679;</span></button> -->

    <!-- <md-button class="md-raised md-accent challenge-btn" @click="getNewChallenge">New Challenge</md-button> -->
      <div class="mission">
        <span v-html="mission.a" @click="getNewChallenge"></span>
          <md-field
            style="display: inline-block; width: 180px; margin: 0px; padding: 0px !important; color: #FC3B2A;">
            <md-select v-model="selected" style="color: #FC3B2A !important" name="emotion" id="emotion">
              <md-option v-for="emotion in emotions" v-bind:value="emotion" v-bind:key="emotion">
                {{emotion}}
              </md-option>
            </md-select>
          </md-field>

          <!-- <select v-model="selected" style="color: #FC3B2A !important" name="emotion" id="emotion" class="emotion-select">
            
            <option v-for="emotion in emotions" v-bind:value="emotion" class="select-dropdown__list-item" v-bind:key="emotion">
              {{emotion}}
            </option>
      </select> -->
<!-- <div class="twoArrows"></div> -->

<span v-html="mission.b"></span>
        <md-field :md-counter="false" :class="messageClass" style="max-width: 80vw;">
          <md-textarea id="completion" style="text-transform: lowercase !important;"  v-on:keyup.enter="dismissKeyboard" v-model="completion" v-bind:class="{redtext : isRed }" md-autogrow maxlength="50"></md-textarea>
                <span class="md-error">Complete the sentence ✏️</span>

        </md-field>
        <!-- <span >.</span> -->
                      <!-- <button class="challenge-btn" v-if="isOnApp" @click="moveToPlay"></button> -->


      </div>
              <button class="challenge-btn" :class="bootyShake" @click="moveToPlay">Let's Play</button>

    </div>


  </div>
</template>

<script>

import gameEngine from '../GameEngine/GameEngine'
export default {


    props: ['isOnApp'],
    computed: {
      messageClass() {
        return {
          'md-invalid': this.completionNotComplete
        }
      },
      bootyShake() {
        return {
          'btn-shake': this.shakeBooty
        }
      }
    },
    data() {
        return {

            mission: null,
            stage: 1,
            emotions: null,
            isRed: false,
            completion: '',
            selected: 'hope',
            completionNotComplete: false,
            shakeBooty: false,

        }
    },

    watch: {
      completion(value) {

        // this.completion = this.lowerCaseFirstLetter
        gameEngine.setUserCompletion(this.lowerCaseFirstLetter(value))
      }
    },

    mounted() {

      this.$parent.stage = 0

        console.log(gameEngine.challenge)
        this.mission = gameEngine.challenge
        this.emotions = gameEngine.emotions
        console.log(this.emotions)
    },

    methods: {



              startGame() {

            // if(this.$parent.isConnected === true) {
            //     this.$socket.emit('addUser')

            // }

            // this.$router.push({path: '/mission'})
        },
      
        getNewChallenge() {

          gameEngine.getNewChallenge()
          this.mission = gameEngine.challenge
        },

        moveToPlay() {


          if(this.completion.length>1) {
            this.completion = this.lowerCaseFirstLetter(this.completion);
            this.startGame();
            gameEngine.setUserMission(this.selected, this.completion)
            console.log(gameEngine.userData)
            gameEngine.setUserCompletion(this.completion)
            gameEngine.setEmotion(this.selected)


            // Send for details



            this.$router.push({
              path: "/game"
            })
          } else {
            this.completionNotComplete = true;
            this.shakeBooty = true;
            setTimeout(()=> {
                          this.shakeBooty = false;

            }, 500)
          }


        },

        unlockScroll() {
                  // window.onscroll = function () {};
                  // window.scrollTo(0,0)

        },

            lowerCaseFirstLetter(string) {

      if(string.charAt(0) === " ") {
    return string.charAt(1).toLowerCase() + string.slice(2);

      } else {
    return string.charAt(0).toLowerCase() + string.slice(1);

      }
},

        dismissKeyboard(){
          document.querySelector('#completion').blur();
        }

    },

    watch : {
      completion(val) {
        console.log(val.length)
        if(val.length > 49) {
          this.isRed = true;
        } else {
          this.isRed = false;
        }
      }
    }



}
</script>

<style scoped>

#stage-1 {
    text-align: center;
        /* padding: 10px; */
        /* font-size: 30px! */

}

.mission {
font-size: calc(1.4rem + 1.5vw);
    line-height: calc(2.2rem + 1.5vw);
    text-align: left;
    /* align-content: center */
}

.redtext {
  -webkit-text-fill-color: #FC3B2A !important;

}
.select-dropdown__list.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.select-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  color: #616161;
  text-align: left;
  transition: all ease-in-out .3s;
}
.select-dropdown__list-item:hover {
  background-color: #1fc69d;
  color: #fff;
  transition: all ease-in-out .3s;
}

</style>