<template>
<div>
  <md-progress-spinner style="position: absolute; left: 50%; transform: translate(-50%,0)" v-if="apiSending" md-mode="indeterminate"></md-progress-spinner>


  <div v-if="stage==0" class="hello">
    <h4 style="text-align: left;"> To start the game let's make a card deck based on your </h4 style="text-align: left;">
    <div style="display: flex; flex-direction: column;">
        <button @click="chooseGame" class="submit-button " id="1">Fear for the world</button>
    <button @click="chooseGame" class="submit-button " id="2">Hopes for your country</button>
    <button @click="chooseGame" class="submit-button " id="3">Definition of beauty</button>
    <button @click="chooseGame" class="submit-button " id="4">Political identity</button>


    </div>

  </div>


  <div v-if="stage==1" class="hello">

    <div v-if="game == 0" id="text">
      <span>I am afraid that the end of the world will be caused by </span> <input type="text" class="inline-input" placeholder="" v-model="input1"><span>
        because </span><input type="text" class="inline-input" placeholder="" v-model="input2">
      <button @click="handleSubmit" class="submit-button " v-bind:class="{ disabled: input2.length<1 }"
        :disabled="input2.length<1">Make my card deck</button>

    </div>

    <div v-if="game == 1" id="text">
      <span>I hope that</span> <input type="text" class="inline-input" placeholder="my country" v-model="input1"><span>
        can become </span><input type="text" class="inline-input" placeholder="quality" v-model="input2"><span> so that
        it will </span><input type="text" class="inline-input" placeholder="be better somehow" v-model="input3">
      <button @click="handleSubmit" class="submit-button " v-bind:class="{ disabled: input3.length<1 }"
        :disabled="input3.length<1">Make my card deck</button>

    </div>

    <div v-if="game == 2" id="text">
      <span>The most beautiful thing in the world is </span> <input type="text" class="inline-input" placeholder="" v-model="input1"><span>
        because </span><input type="text" class="inline-input" placeholder="" v-model="input2">
      <button @click="handleSubmit" class="submit-button " v-bind:class="{ disabled: input2.length<1 }"
        :disabled="input2.length<1">Make my card deck</button>

    </div>

    <div v-if="game == 3" id="text">
      <span>I define myself politically as a </span> <input type="text" class="inline-input" placeholder="" v-model="input1"><span>
        because </span><input type="text" class="inline-input" placeholder="" v-model="input2">
      <button @click="handleSubmit" class="submit-button " v-bind:class="{ disabled: input2.length<1 }"
        :disabled="input2.length<1">Make my card deck</button>

    </div>

  </div>

    <div v-if="stage==2" class="hello">
      <card-deck :text="cardDeckText"></card-deck>
      <div>
        <h4>Rules:</h4>
        <p>{{rule}}</p>
                            <md-button @click="stage = 3" class="md-raised md-accent">Play</md-button>

      </div>

  </div>

  <div v-if="stage==3" class="results" >

    <div id="mission">

      <h3>{{rule}}</h3>
        <!-- <b>The mission here is measured against:</b>
        <template> 
          {{mission.paris}}
        </template> -->
    </div>
    <button     
    style="position: absolute;
    top: 50vh;
    height: 60px;
    background: transparent;
    left: 0px;"
        @click="prevData"
>
<img 
    src="static/left.svg" 
    alt="triangle with all three sides equal"
    height="20px"
    width="20px"
 />
    </button>

    <button     
    style="position: absolute;
    top: 50vh;
    height: 60px;
    background: rgba(255,255,255,0.0);
    right: 0px;"
        @click="nextData"
>
<img 
    src="static/right.svg" 
    alt="triangle with all three sides equal"
    height="20px"
    width="20px"
 />
    </button>

      <div
        :key="card"
        class="card"
        
      >

        {{card}}
    <md-field>
      <label>Your completion</label>
      <md-textarea v-model="answer" md-autogrow md-counter="200"></md-textarea>
    </md-field>
      </div>
            <div class="card-answer">
     <!-- <input type="text" class="" placeholder="whats your answer" v-model="answer"> -->
  
                    <md-button @click="getScore" class="md-raised md-accent">Submit</md-button>
  </div>

  </div>
    <md-button v-if="stage == 6" @click="resetGame" class="md-icon-button md-raised" style="margin-top: 20px;">

      <img src="static/refresh.svg" alt="refresh" height="20px" width="20px" />

    </md-button>


    <div v-if="stage==5" class="results">

  

      <div
        :key="card"
        class="card"
      >

        <button @click="stage = 3">Next Player</button>
        <button @click="stage = 6">Or show score(s)</button>
      </div>


  </div>

      <div v-if="stage==6" class="results">

      <div
        
      >
        <ul style="text-align: left">
          <li v-for="(score,index) in scores" v-bind:class="{ winner: index === highestScore }">
            {{score}}% - Player {{index+1}} <span v-if="index === highestScore">Winner!!</span>
            <br/>
            <br/>
            {{completedCards[index]}}
            <br/>
            <br/>
          </li>
        </ul>
      </div>


  </div>


</div>
</template>

<script>
import nlp from 'compromise'
import RiTa from 'rita'
import {arrayUnion} from 'vuex-easy-firestore'
import axios from 'axios'
import CardDeck from './CardDeck'
export default {
  name: 'HelloWorld',
  components: {
    'card-deck': CardDeck
  },
  data () {
    return {
      initial: "",
      input1: "", 
      input2: "",
      
      input3: "",
      answer: "",
      stage: 0,
      cardDeckText: "Card deck for ",
      game: 0,
      apiSending: false,
      textState: "",
      sentences: [],
      adlibResult: "",
      keyData: ["NN", "VB", "JJ", "VBG", "NNP", "VBN"],
      grammarData: {},
      nouns: [],
      pastTenseVerbs: [],
      card: null,
      cardIndex: 0,
      scores: [],
      completedCards: [],
      scene: null,
      highestScore: -1,
      rule: "",

      gameRules: [
       'Complete the sentence to stop climate change with input1. The best global strategy wins.',
       'Complete the sentence to help input1 defeat an alien race. Whoever comes up with the best strategy wins. (Based on science fiction stories with aliens.)',
       'Complete the sentence to invent a new profession in input1. The best post-automation job wins.',
       'Complete the sentence to bring about the apocalypse with input1. The worst scenario wins.'
      ],

  

      query: [
        'climate future hope change',

        'mars future space science', 
        'profession job work',
        'future fear political'
      ],

      mission: {paris: "Holding the increase in the global average temperature to well below 2 °C above pre-industrial levels and to pursue efforts to limit the temperature increase to 1.5 °C above pre-industrial levels, recognizing that this would significantly reduce the risks and impacts of climate change. Increasing the ability to adapt to the adverse impacts of climate change and foster climate resilience and low greenhouse gas emissions development, in a manner that does not threaten food production. Making finance flows consistent with a pathway towards low greenhouse gas emissions and climate-resilient development."},
      connectionWords: ["through", "because", "to", "are", "as", "and", "of", "with", "to", "but"],
    }
  },

  mounted() {
      // this.scene = new scene();
    // this.sendForData(" I want")




  },

  methods: {

    chooseGame(e) {
      console.log(e.target.id)
      this.stage = 1;


      this.game = e.target.id - 1


    },

    resetGame() {
      this.stage = 0
      this.input1 = ""
      this.input2 = ""
      this.input3 = ""
    },

    nextData() {
      if(this.cardIndex < this.data.length) {
      this.cardIndex+=1;
      } else {
        this.cardIndex = 0
      }
      this.card = this.makeSentence(this.data[this.cardIndex])
    },

    prevData() {

      if(this.cardIndex >= 0) {
      this.cardIndex-=1;
      } else {
        this.cardIndex = this.data.length - 1;
      }
      this.card = this.makeSentence(this.data[this.cardIndex])
    
    },

    isVowel(char) {
        return /^[aeiou]$/.test(char.toLowerCase());
    },

    async getScore() {
     try {
          const response = await axios.get('https://jrcdata-wprxcofz3q-ew.a.run.app/score?sentence=' + `${this.card} ${this.answer}`+'&mood='+`${this.mission.paris}`);

          // const response = await axios.get('https://jrcdata-wprxcofz3q-ew.a.run.app/score?sentence=' + `${this.card} ${this.answer}`+'&mood='+`${this.mission.paris}`);

          let data = response.data;
          this.score = data["score"]
          if(this.answer.length < 1) {this.score = this.score/2}

          this.score = this.score * 100;
          this.score = Math.round(this.score)
          this.scores.push(this.score);
          this.completedCards.push(this.card + " " + this.answer)
          this.answer = ""
          this.nextData();
          let players = this.$store.state.gamesModule.data.players;
    
          // this.$store.dispatch('gamesModule/set', {id:"default", players: 1, scores: arrayUnion(this.score)})

        
          this.highestScore = this.scores.indexOf(Math.max(...this.scores));


          this.stage = 5
   

          



        } catch (error) {
          console.error(error);


        }
    },

    createNewAdlib() {


          let randomNoun = this.nouns[Math.floor(Math.random()*this.nouns.length)];
          let randomPastTestVerb = this.pastTenseVerbs[Math.floor(Math.random()*this.pastTenseVerbs.length)]
          randomPastTestVerb = nlp(randomPastTestVerb).sentences().toPastTense().out()

          if(this.isVowel(randomNoun.charAt(0))) {
            randomNoun = "an "+randomNoun;

          } else  {
                        randomNoun = "a "+randomNoun;

          }
          this.adlibResult = `There once was a ${this.input1} that was ${randomPastTestVerb} so that ${this.input2} could be ${randomNoun}`
    },

    handleSubmit() {
      // this.stage = 2;
      this.textState = `I want a ${this.input1} so that ${this.input2}`
      this.sendForData(this.textState)
            this.rule = this.gameRules[this.game]

            let tokens = RiTa.tokenize(this.rule);
            this.rule = ""
            tokens.forEach((token)=>{
              if(token === "input1") {
                token = this.input1;
                this.rule += " " +  this.input1
              } else {
                this.rule += " " +  token

              }
            })
            // console.log

            console.log(this.rule)
      this.cardDeckText = `Card deck for ${this.input1}`
      
    },

    makeSentence(data) {
      let output = RiTa.untokenize(data)
      return output;
    },

     shuffle(array) {
  array.sort(() => Math.random() - 0.5);
},
       async sendForData(emotion) {
         this.apiSending = true;
        try {

        const response = await axios.get('https://jrcdata-wprxcofz3q-ew.a.run.app/?sentence=' + `${this.query[this.game]} ${this.input1} ${this.input2} ${this.input3}`);
        this.apiSending = false;


        let data = response.data;
        this.data = []


          data["text"].forEach(element => {
            let tokens = RiTa.tokenize(element)
            console.log(tokens)
            let tags = RiTa.getPosTags(element, false)
            let index = 0
            backwards:
            for(let i=tags.length; i>=0; i--) {
              // console.log(tags[i])
              if(tags[i]==='CC' || this.connectionWords.includes(tokens[i])) {
                tokens[i+1] = "________________ ."
            tokens = tokens.slice(0,i+1)
                break backwards;
              }
            }

            this.data.push(tokens)
          });
          this.shuffle(this.data)
          console.log(this.data)
          this.card = this.makeSentence(this.data[0]);




          this.stage = 2
   

          



        } catch (error) {
          console.error(error);


        }
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

#grammar {
  display: flex;
  flex-direction: row;
}

.card {
    background: rgb(16, 16, 16);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 1.5rem;
    text-align: left;
    padding: 25px;
    line-height: 2rem;
    width: 25vw;
    height: auto;
    min-height: 45vh;

    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
  
}

.winner {
  color: green;
}

#mission {
      font-size:calc(0.6rem + 1vw);
      line-height: 2rem;
      padding: 0px 40px;
    /* top: 85px; */
    position: relative;
    width: 70%;
    text-align: left;
}

.card > input {
  background: transparent;
  font-size: 1.5rem;
  color: white;
  margin-top: 40px;
}

.card > button {
  background: transparent;
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
}

.card-answer {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  bottom: 150px;
}
.inline-input {
  border: 0px;
  background: transparent;
  color:white;
      font-size: 1.3rem;
      border-bottom: 1px solid lightgray;
      text-align: center;
      margin-top: -5px;
      margin: 0px 20px;
      width: 100%;
      font-family:  sans-serif;
}

.inline-input::placeholder {
  color:rgb(125, 125, 125);
  border-radius: 5px;
  padding: -20px;
  margin: 10px;
}

.btn {
    font-size: 1.3rem;
  background: transparent;
  color: white;
}


.hello {

      color:white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50vw;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    padding: 0px 20px;
    transform: translate(-50%, 0px);
}
.disabled {
  background: grey !important;
  color: #9c9c9c !important;
}
.results {


      color:white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50vw;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    transform: translate(-50%, 0px);

}

#text {
  vertical-align: middle;
  margin-top: 45vh;
  left: 10vw;
  width: 80vw;
  position: absolute;
  display: flex;
  /* flex-direction:  */
}

.submit-button {
  transition: all 1s;
  margin: 5px 0px;
    top: 50px;
    position: relative;
    /* bottom: 13vh; */
    /* left: 50vw; */
    /* transform: translate(-50%, 0); */
    font-size: 1.3rem;
    /* border: 1px solid; */
    background: white;
    color: black;
    font-family: sans-serif;
    border-radius: 20px;
    padding: 10px;
}

span {
  width: 100%;
}

@media (max-width: 1024px) {
  #text {
        vertical-align: middle;
    /* margin-top: 45vh; */
    left: 10vw;
    height: 100%;
    width: 80vw;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    line-height: 52px;
  }

  #mission {
    width: 100vw;
      font-size:calc(0.6rem + 1vw);
    top: 0px;
    padding: 0px 30px;
  }

  .card-answer {
    bottom: 15px;
  }

  .card-answer > button {
    color: white;
  }

  .card {
    font-size: 1.1rem;
    height: auto;
    max-height: 60vh;
    min-height: 50vh;
    width: 80vw;
  }
}
</style>
